[2015-09-03 12:00] andygrunwald opened #1 "Add some unit tests"
Add unit tests.
HTTP client can be mocked with https://github.com/golang/oauth2/blob/master/oauth2_test.go#L268
See https://groups.google.com/forum/#!topic/golang-nuts/XctCN0mUWbw

[2016-03-26 20:23] #1 closed

[2016-04-06 09:31] avadhutp opened #3 "Problems unmarshaling JSON for JIRA v6.4"
Here's my sample code:
[code]
The errors I see are:
[code]
The JIRA version I am using is `v6.4.10#64025-sha1:5b8b740`

Using JIRA `http://hostname/rest/api/2/issue/DAR-1`, I see that the worklog JSON looks like this:
[code]

[2016-04-06 09:40] avadhutp commented on #3
Here's a more comprehensive JS from some other issue:
{
	startAt: 0,
	maxResults: 20,
	total: 1,
	worklogs: [
		{
			self: "https://jira.hostname/rest/api/2/issue/1026988/worklog/15500",
			author: {
				self: "https://jira.hostname/rest/api/2/user?username=avadhutp",
				name: "avadhutp",
				key: "avadhutp",
				emailAddress: "avadhutp@yelp.com",
			avatarUrls: {
				48x48: "https://jira.hostnam

[2016-04-10 10:44] andygrunwald commented on #3
This was fixed in #4
Thank you a lot!

[2016-04-10 10:44] #3 closed

[2016-05-25 09:41] avadhutp opened #7 "Enable labels as part of IssueFields"
Should be fairly straightforward. Will submit a pull request shortly.

[2016-05-25 09:49] Kegsay opened #8 "Improve error handling to manage unexpected JIRA responses"
The JIRA client library supports making arbitrary REST API calls to JIRA. This is great. However, not all of JIRA expresses errors as `ErrorResponse` JSON objects. Innocently missing parameters in some requests can make JIRA fail ungracefully with an XML response containing a Java stack trace. This *would* be fine, if it weren't for https://github.com/andygrunwald/go-jira/blob/22e19893f5e074082091

[2016-05-27 12:23] andygrunwald commented on #7
Thank you!
You created https://github.com/andygrunwald/go-jira/pull/9 and it was merged.
Really cool feature.

[2016-05-27 12:23] #7 closed

[2016-05-27 12:34] andygrunwald commented on #8
Hey @Kegsay,

thank you for your issue. You are totally right.
Do you have an example URL where a XML response + a XML stack trace is given as a response?
Such an URL can be used to implement this behaviour.

Is this an URL you are reffering to? https://issues.apache.org/jira/rest/api/2/issue/sss/MESOS-3325
Or do you have a better example?

[2016-05-27 15:20] Kegsay commented on #8
That's a good example of JIRA returning XML responses on errors. I've seen similar looking ones which return `HTTP 500`, for example when `POST`ing to  `/rest/webhooks/1.0/webhook` with most but not all of the required fields.

I'm not sure how public-facing these error responses are supposed to be - so I would be hesitant trying to design a `struct` which can handle all of these responses, becaus

[2016-05-28 18:15] #8 closed

[2016-05-28 18:17] andygrunwald commented on #8
Thank you @Kegsay!
I thought a little bit about this. You are true. It would be a waste of time + never complete to design a data structure to  parse each error.
I dropped the `ErrorResponse` type at all. The caller is now responsible to analyze the response body and parse it (if needed).

Here is a small snippet for testing:
[code]

Result:
[code]

[2016-05-31 11:01] Kegsay commented on #8
Looks good to me :) thanks!

[2016-06-03 15:50] Kegsay opened #12 "Expose the base JIRA URL"
It's frustrating that the very base URL passed into the constructor for a `jira.Client` doesn't get exposed in some way. The URL is extremely useful when forming HTML links, and I'm continually having to pass a wrapper struct of `{ Client, BaseURL }`.

I fully understand why you *don't* want it to be **modified** from under you, but exposing a getter like `Client.BaseURL()` would be incredibly hel

[2016-06-03 16:18] #12 closed

[2016-06-03 16:18] andygrunwald commented on #12
Thank you @Kegsay.
`c.GetBaseURL()` will return now a copy of the base url. Will this work for you?

[2016-06-09 13:25] Kegsay commented on #12
That's great, thank you! Very prompt response :)

[2016-06-15 13:10] nebril opened #17 "There is no support for pages in responses"
go-github wraps http.Response with it's own struct, https://github.com/google/go-github/blob/master/github/github.go#L247 , which has paging-related attributes.

Pagination in JIRA API is described here: https://developer.atlassian.com/confdev/confluence-server-rest-api/pagination-in-the-rest-api

[2016-06-15 13:30] nebril commented on #17
It seems that I linked to confluence docs, will try to find JIRA docs for paging.

[2016-06-19 12:33] #17 closed

[2016-06-19 12:35] andygrunwald commented on #17
#18 was merged. Thanks a lot!

[2016-06-20 10:12] nebril opened #20 "This library needs a large lizard logo"
The name of library is go-jira. Godzilla in japanese reads Gojira (based on this article and sound file:
https://en.wikipedia.org/wiki/Godzilla
https://upload.wikimedia.org/wikipedia/commons/d/d0/Ja-Godzilla.oga
).

The issue title is obvious, if this library ever has a logo, it should be a large lizard (maybe with gopher face?). Pic related: http://cliparts.co/cliparts/ki8/nxa/ki8nxab5T.png

[2016-06-20 10:39] gitfred commented on #20
+1

[2016-06-20 13:57] nebril opened #21 "There is no way to change issue status."
There should be API handling mechanism for issue transitions:

https://docs.atlassian.com/jira/REST/latest/#api/2/issue-getTransitions
https://docs.atlassian.com/jira/REST/latest/#api/2/issue-doTransition

[2016-07-02 10:12] ifosch opened #23 "Comments are not unmarshalled"
Using go-jira for a CLI, I found that comments are not being unmarshalled for any Issue.
I did the following try on your code, and got `issue_test` doesn't pass. In https://github.com/andygrunwald/go-jira/blob/master/issue_test.go#L140, I added:
[code]
I'm not very experienced in Go programming and even most not sure of understanding JSON Unmarshalling anyway, so I might be wrong. I might like to

[2016-07-10 18:52] #23 closed

[2016-07-17 10:13] #21 closed

[2016-07-17 10:23] andygrunwald commented on #20
This is a great idea :D
I like it.

Has someone the skill to combine such a lizard with the JIRA logo and a Gopher?Here are both images: https://github.com/andygrunwald/go-jira/blob/master/img/go-jira-compressed.png

[2016-07-17 10:32] andygrunwald commented on #23
Thanks. Was fixed in #24

[2016-07-17 10:34] andygrunwald commented on #21
Done in #22.
Thank you!

[2016-07-22 14:10] antekresic opened #25 "PostAttachment auth issue"
Hi.

Looks like there is some sort of issue with PostAttachment method. I'm getting 401 HTTP error code from the Jira service when trying to use it. Here is my example code:

https://gist.github.com/antekresic/4dda591c415d4a9dac5179efd1f7fd96
(I removed the credentials and other sensitive data)

By modifying jira.go file, the NewMultiPartRequest method on the Client, I was able to get it working.

[2016-07-22 18:33] jasonob commented on #25
Can you show what change you made to NewMultiPartRequest?

You added this?

// Set session cookie if there is one
	if c.session != nil {
		for _, cookie := range c.session.Cookies {
			req.AddCookie(cookie)
		}
}

Did you leave in this ?

// Set session cookie if there is one
	if c.Authentication.Authenticated() {
		req.Header.Set("Cookie", fmt.Sprintf("%s=%s", c.session.Session.Name, c.session.Se

[2016-07-22 19:07] antekresic commented on #25
Exactly that, I didn't leave the part you specified here, just replaced
with the first part.

Thanks.

On Fri, Jul 22, 2016, 20:33 jasonob <notifications@github.com> wrote:

[2016-07-24 09:18] jasonob commented on #25
Looks good to me

Can you submit a pull request to Andy?

Thanks!

Jason

[2016-07-29 17:57] #25 closed

[2016-07-29 18:11] andygrunwald commented on #25
Thank you @jasonob and @antekresic.
This make me smile and this is open source for me!
I love it when someone push something, other people start using it and once an issue occured the community helps each other. This is just great.
Thank you for this. You made my day.

[2016-08-01 15:01] attack7 opened #29 "Is there a reason that "Versions" in the Project struct should remain of type []interface{}?"
I'm wondering if there's a reason that Version is an array of interface{}, and could it be something more explicit like []Version and it's just not implemented yet?  If so, I'm happy to define it, but I think it would be a breaking change for people who are using it as is.

[2016-08-02 11:51] andygrunwald commented on #29
The `Version` field was introduced in #11 (see https://github.com/andygrunwald/go-jira/pull/11/files#diff-4700095d37965ce7b3c2b43fec5d352bR113).

According to the JSON-Mocks for the unit tests (see https://github.com/andygrunwald/go-jira/pull/11/files#diff-a3df89d5900f98d69546f4c705a28007R305) this can be formed into a well defined struct.

The JIRA-Docs (see https://docs.atlassian.com/jira/REST/c

[2016-08-02 15:21] andygrunwald commented on #29
Solved in #30  :)
Thank you!

[2016-08-02 15:21] #29 closed

[2016-08-18 07:29] meirwah opened #32 "Getting weird auth Error : stream error: stream ID 1; REFUSED_STREAM""
I Test vs. a cloud instance of Jira.
Any idea?

[2016-08-18 07:33] andygrunwald commented on #32
Hey @meirwah,
can you please post your code to show what you are doing?
And which cloud instance? Is this public?

[2016-08-18 07:36] meirwah commented on #32
sure,
[code]

[2016-08-18 07:37] meirwah commented on #32
it's jira as a service instance...

[2016-08-18 07:41] meirwah commented on #32
full error:
[code]

[2016-08-18 08:51] meirwah commented on #32
@andygrunwald any idea?

[2016-09-17 08:13] andygrunwald commented on #32
@meirwah Sorry, no idea right now. Did you solved the problem in the meantime?

[2016-09-17 12:16] meirwah commented on #32
nope :(
impl the lib by myself in the end

[2016-09-18 16:13] andygrunwald commented on #32
How did you do this? What did you differently as go-jira?
Can you maybe share your auth code / request code here?
Maybe we can see the difference there.

[2016-09-23 15:00] rnewton commented on #32
I encountered this error today as well. My code is nothing special:

[code]

This works when I'm running locally, but not when running in a docker container.

[2016-09-23 18:38] andygrunwald commented on #32
@rnewton Any chance that i can reproduce / get the same setup for your cloud jira? To reproduce this error?

[2016-09-26 09:52] mdamir opened #35 "Is support for creating issues with custom fields available?"

[2016-10-03 11:11] andygrunwald commented on #35
@mdamir @shannonrdunn Not in master (yet), but it seems that #36 is tackling this issue.
Does it solve your use case?

[2016-10-03 11:36] andygrunwald commented on #35
Should be solved with the merge of #36.
If not please reopen.

[2016-10-03 11:36] #35 closed

[2016-10-04 14:13] bidesh opened #37 "Errors during issue creation not reported correctly"
If the create issue fails, then jira returns a json format with errors. But this cannot be retrieved in current solution because even though the reponse is returned, it is already read from. And the unmarshalling of response is done in Issue struct. This doesn't have the keys and thus the detailed error message is lost.

Jira response details for create can be found here:
https://docs.atlassian.co

[2016-10-21 02:19] dontrebootme commented on #35
@andygrunwald Is there a way to show a simple example of issue create with a custom field? I'm not understanding, do I need to create new instance of tcontainer.MarshalMap?

[2016-10-21 19:45] dontrebootme opened #43 "Unclear how to create a subtask with Parent field"
Does this require use of the unknown field? Is there a doc on this? The API seems to support it

[2016-10-26 12:33] dobegor opened #45 "Add changelog"
It would be nice to have a way to provide "expand" parameter to get issue's changelog, i.e.
`http://your-jira-server/rest/api/2/issue/ISSUE-11?expand=changelog`

[2016-11-01 05:37] dontrebootme commented on #43
Created a #47 to try and solve this

[2016-11-04 13:51] lukehumphreys opened #50 "Getting an Issue's linked epic returns nil pointer"
When trying to get a linked Epic for a Story a nil pointer is returned even when the story has a linked epic.

[code]

This returns:
`panic: runtime error: invalid memory address or nil pointer dereference`

Even though there is an epic link:
[MESOS-3078](https://issues.apache.org/jira/browse/MESOS-3078)

[2016-11-04 19:50] andygrunwald commented on #43
#47 is merged now. Thanks for your contribution.

[2016-11-04 19:50] #43 closed

[2016-11-04 19:58] andygrunwald commented on #37
This was fixed in #39

[2016-11-04 19:58] #37 closed

[2016-11-04 20:29] andygrunwald commented on #50
Hey @lukehumphreys,

when you fire a simply `jiraClient.Issue.Get("MESOS-3078")`, an epic is represented as a custom field. The epic field is not a native field by Jira. It will be added by the [Greenhopper agile plugin](https://de.atlassian.com/software/jira/agile).
In this JIRA instance it will be represented as `customfield_12311120`:

[code]

leads to the result

[code]

This is described here

[2016-11-04 20:34] andygrunwald commented on #45
@dobegor True. This is not supported yet.
Right now i don`t have the time to implement it.

For the implementation i would choose the package `github.com/google/go-querystring/query`.
With this you are able to define "Option"-Structs with `url` tags like here: https://github.com/andygrunwald/go-gerrit/blob/master/projects.go#L169

Based on this struct you can implement an `addOptions` like here: h

[2016-11-04 20:34] andygrunwald commented on #32
Any news @rnewton ?

[2016-11-04 20:35] andygrunwald commented on #20
A contribution would be welcome here.
Right now i don`t have the time to put work into it. But i will be happy to accept proposals :)

[2016-11-04 20:40] andygrunwald commented on #35
@dontrebootme You don`t have to use the `tcontainer.MarshalMap`.

You can use the [InitIssueWithMetaAndFields](https://godoc.org/github.com/andygrunwald/go-jira#InitIssueWithMetaAndFields) function.
See here for a real world example: https://github.com/cloudflare/complainer/blob/master/reporter/jira.go#L125

[2016-11-08 13:17] gha commented on #32
@andygrunwald Also getting this error for a basic implementation, running this on my mac

[code]

[2016-11-08 13:21] rnewton commented on #32
Sorry, I missed the initial mention. I wasn't able to fix this error, only work around it by building locally (on osx with build flags for linux) and pushing the binary to docker. I _think_ it has to do with SSL and passing in an `http.Client` with modified options might work.

[2016-11-23 13:37] meirwah commented on #32
yes I think @rnewton is right..
and you need to add this:
[code]
To the http client

[2016-11-28 07:12] crisarceramos opened #52 "x509: certificate signed by unknown authority"
Hi,
I'm getting below error from calling jiraClient.Authentication.AcquireSessionCookie. Do I need certificate?
panic: Auth at JIRA instance failed (HTTP(S) request). Post https://myjira.com/rest/auth/1/session: x509: certificate signed by unknown authority

[2016-12-02 01:18] andygrunwald commented on #52
At the first look this seems to be a issue with the SSL cert.
Do you have a little bit more information? About OS, Golang version, URL, example code, etc?

Maybe have a look at https://groups.google.com/forum/#!topic/golang-nuts/v5ShM8R7Tdc

Can you try if this might be running with `tls.Config{InsecureSkipVerify: true}` ?
This was mentioned in #32

[2016-12-07 13:25] mgilbir commented on #52
If you are on OSX, there is some weird behavior when handling certs stored in the keychain.

You may want to take a look at https://github.com/hashicorp/go-rootcerts instead of skipping the TLS verification.

[2016-12-14 05:59] stevegore opened #55 "Add support for pagination"
The JIRA REST API applies pagination to a number of resources (e.g. users in group, issues returned from a search): https://docs.atlassian.com/jira/REST/server/#pagination

Ideally we would fetch the first page, and the fetch other pages concurrently.

Currently, it seems like this needs to be done manually with each implementation of the library.

[2016-12-27 12:56] AlbinOS opened #56 "Oauth"
I'm trying to implement Oauth authentification with our jira cloud platform and I see on the README.md that this library support it but I have trouble to wrap my head around this feature.

Does anybody have a working example ?

Thanks a lot !

[2017-01-10 10:25] dk13danger opened #57 "`DoTransition` method with payload"
Hi!
As i can see in code you don't realize facility for injecting payload with performing transition yet?
Here: https://github.com/andygrunwald/go-jira/blob/master/issue.go#L648
Do you have plan for updating? When this will be implemented?

[2017-01-15 13:22] Lupus commented on #56
I've chopped some of my code I've came up with recently and uploaded it as a gist [1]. I have not proof-compiled it, but it ought to work. Just call `getJIRAClient()` to get a fully configured client object. Also give a look at [2], it is a nice tutorial for getting JIRA administration part done.

[1] https://gist.github.com/Lupus/edafe9a7c5c6b13407293d795442fe67
[2] https://www.prodpad.com/2013/0

[2017-01-16 10:48] AlbinOS commented on #56
@Lupus, awesome ! Thanks a lot !

I'll look at it.

[2017-01-25 02:15] crisarceramos commented on #52
Thanks @andygrunwald, your suggestion works! Added below line before calling NewClient.

import ("net/http"; "crypto/tls")

tr := &http.Transport{
	TLSClientConfig: &tls.Config{InsecureSkipVerify : true},
}
client := &http.Client{Transport: tr}

[2017-01-25 02:15] #52 closed

[2017-01-25 03:20] crisarceramos opened #59 "Query all open issues of a project"
@andygrunwald do u have any sample of this? thanks!

[2017-01-27 18:40] andygrunwald commented on #32
This seems to work now with a custom http client, right?
If i am wrong, feel free to reopen this.

[2017-01-27 18:40] #32 closed

[2017-01-27 18:41] andygrunwald commented on #50
No answer since ~2 month. Closing now.

[2017-01-27 18:41] #50 closed

[2017-01-27 18:42] andygrunwald commented on #56
Sounds like a plan!
Thank you @Lupus for the answer and @AlbinOS for the question!

[2017-01-27 20:45] Lupus commented on #56
@andygrunwald may be it makes sense to include this in your repo as a part of API or as an example? It took me quite a while to figure this out, and other folks are also struggling with this.

I could make a PR for this if you think it will be useful.

[2017-01-27 21:45] andygrunwald commented on #56
@Lupus Yeah, why not. Good catch.
I would prefer as an example + a small note in the readme with a link to this example.

Would be good if you can create a PR.

[2017-01-27 22:05] Lupus commented on #56
Awesome, sounds good to me. Will do the PR once I have some spare time.

[2017-01-27 23:57] niallo opened #60 "Add support for issue deletion"
Thanks for writing this JIRA library. I noticed that issue deletion is not supported. It would be really nice to have this. Cheers.

[2017-01-29 14:18] andygrunwald commented on #56
Thank you. Until this i will leave this issue open.

[2017-01-29 14:32] andygrunwald commented on #60
Hey @niallo,

you are right. Good catch. This functionality is not implemented (yet).
But i think this is useful. I would be happy to accept a pull request for this.
Here are a few notes that might get you or someone else who is willing to contribute up to speed:

* The requested functionality is documented at [Delete Issue @ JIRA Docs](https://docs.atlassian.com/jira/REST/cloud/#api/2/issue-delet

[2017-01-29 15:20] andygrunwald commented on #59
You can use the [Search method](https://godoc.org/github.com/andygrunwald/go-jira#IssueService.Search) ([Search @ JIRA-Docs](https://developer.atlassian.com/jiradev/jira-apis/jira-rest-apis/jira-rest-api-tutorials/jira-rest-api-example-query-issues)) for this incl. a JQL query.
Here is an example:

[code]

Is this what you are looking for?

[2017-01-29 15:26] andygrunwald commented on #57
Hey @dk13danger,

indeed. You are right.
As stated in the [docs](https://docs.atlassian.com/jira/REST/cloud/#api/2/issue-doTransition) there are a lot more possibilities for the DoTransistion method.
Right now we are only supporting

[code]

At the moment i don't have specific plans for updating this. If you or someone else would be happy to apply a [Pull Request](https://help.github.com/articles/

[2017-01-29 15:31] andygrunwald commented on #55
Sorry for the late reply @stevegore.
You are right, sophisticated pagination support is not implemented (yet).
At the moment you can reach this feature by applying the `StartAt` in your `SearchOptions` in your application code.

This can have pro and cons.
Cons: Every app needs to implement this
Pro: You might not flood your JIRA instance with requests.

Your idea to request this concurrent is qui

[2017-01-29 15:32] andygrunwald commented on #45
Hey @dobegor,
@lycis was so kind and added ChangeLog functionality in #58
I hope this solved your request. If not feel free to add a new issue.

[2017-01-29 15:32] #45 closed

[2017-01-29 15:35] dk13danger commented on #57
Thx, @andygrunwald )
I know, of course, about `not implemented API endpoint` workaround)
I switched for my project on `php`, that's why i don't lack in this feature right now.
But i very want to do PR in future, when i'll return to golang :)

[2017-01-29 15:37] andygrunwald commented on #57
Thats nice to hear @dk13danger! Good luck with your project :)
I will leave this issue open until this is fixed.

[2017-01-29 16:32] andygrunwald commented on #52
Thats good to here @crisarceramos :)

[2017-02-07 23:53] fkrauthan opened #61 "Basic auth support"
Hey,

I am relatively new to go but as I understand your library suppose to support basic auth connection with Jira. Your documentation for session cookie authentication even recommends to use basic auth. But I do not see any place to provide username and password to this library. I looked into go documentation but they say I would need to provide a username and password for each request object so

[2017-02-08 19:32] Smadarl commented on #61
I had some luck with this:
http://grokbase.com/t/gg/golang-nuts/1293s1j54z/go-nuts-how-to-do-basic-authentication

I did notice though, that it only works for the first call after setting it up, like so:
client := &http.Client{}
client.Transport = &http.Transport {
	Proxy: func(req *http.Request) (*url.URL, error) {
		req.SetBasicAuth("username", "password")
		return nil, nil
	},
}
jiraClient, err

[2017-02-08 19:34] fkrauthan commented on #61
Hmm I think the Authorization helper should be extended to directly pass in basic auth parameters. And then the library can pass it thru to each request object.

[2017-02-08 20:02] perolausson commented on #61
Just curious, why not use the cookie based approach?

[2017-02-08 20:03] fkrauthan commented on #61
Because even the library documentation here recommends not to use it^^

[2017-02-08 20:04] Smadarl commented on #61
So I just added these few lines of code to jira.go, and it worked perfectly:
`
type basicAuth struct {
	username string
	password string
}
...

type Client struct {
    bAuth basicAuth

...

func (c *Client) SetBasicAuth(username, password string) {
	c.bAuth.username = username
	c.bAuth.password = password
}

...

func (c *Client) Do(req *http.Request, v interface{}) (*Response, error) {
	if len(c

[2017-02-08 20:06] perolausson commented on #61
If you access it over http yes, can understand it. Otherwise, if over https I don't see any issue.

[2017-02-08 20:07] fkrauthan commented on #61
Well regardless. The library claims to support basic auth but right now it does not. So it is definitely a bug.

[2017-02-08 20:25] perolausson commented on #61
I think the code missing in go-jira is in go-gerrit:

https://github.com/andygrunwald/go-gerrit/blob/master/authentication.go

I don't think he would mind if you created a pull request to fix the problem.

[2017-02-08 20:26] perolausson commented on #61
There is also an example in that project on how to use it.

https://github.com/andygrunwald/go-gerrit#http-basic

[2017-02-08 21:22] andygrunwald commented on #61
One alternative would be ` jiraClient, _ := jira.NewClient(nil, "https://user:pass@issues.apache.org/jira/")` (when i get it correct).

Otherwise i would be happy about a PR.

[2017-02-08 22:21] fkrauthan commented on #61
I will look into creating a PR for this.

[2017-02-10 17:40] kcrexchan commented on #35
@andygrunwald , I'm new to go and jira, can you show some example of how to retrieve the custom fields with go-jira? Thank you.

[2017-02-12 11:52] andygrunwald commented on #61
Fixed in #62
Thank you @fkrauthan. @perolausson and @Smadarl

[2017-02-12 11:52] #61 closed

[2017-02-28 09:11] andygrunwald commented on #60
Was fixed in #65
Thanks go to @ggrpmnn

[2017-02-28 09:11] #60 closed

[2017-02-28 09:51] andygrunwald commented on #59
No feedback since ~1 month.
@crisarceramos If this don't solve your problem, please let me know.

[2017-02-28 09:51] #59 closed

[2017-02-28 17:44] ggrpmnn commented on #60
:+1:

[2017-03-10 21:46] gguimaraesbr opened #66 "Question: get all project issues"
Is it possible to get all the issues for a given project without providing a sprint id?

[2017-03-11 13:40] andygrunwald commented on #66
Hey @gguimaraesbr,

i guess it is the same question like https://github.com/andygrunwald/go-jira/issues/59#issuecomment-275920497, isn' it?
Might the code snipped in issue #59 help?

[2017-03-12 13:13] gguimaraesbr commented on #66
Hi @andygrunwald,

I was looking for something like `func (s *IssueService) GetIssues(projectkey string) ([]Issue, error)`, if it make any sense, but I think the `jql` approach will do the job.

Best.

[2017-03-12 13:13] #66 closed

[2017-03-13 08:01] andygrunwald commented on #66
Hey @gguimaraesbr,
this would also be an option, but this is not implemented yet.
Feel free to create this function and apply a PR. I would be happy to merge it.

[2017-03-13 17:06] gguimaraesbr commented on #66
Hi, @andygrunwald

I still need to find out how to handle with `startAt` and `maxResults` in that scenario.

[2017-04-07 11:51] rogerwelin opened #67 "Create Issue with customfields"
How can I create a jira.Issue that has customfields described in IssueFields? Is that supported?

[2017-04-09 09:33] andygrunwald commented on #67
Hey @rogerwelin,
this question was answered in https://github.com/andygrunwald/go-jira/issues/35 some time ago.
Would you mind to check this ticket out and if this helps you?

[2017-04-16 13:10] andygrunwald commented on #67
No feedback since one week. @rogerwelin If this don't work, please reopen this ticket and let me know.

[2017-04-16 13:10] #67 closed

[2017-04-17 10:49] ypsman opened #69 "Problem with example create"
Im trying to Connect with the Example to Jira and creating an Issue.
Getting this as Response
 {"errorMessages":[],"errors":{"project":"project is required"}}
panic: runtime error: invalid memory address or nil pointer dereference

go version go1.6.2 linux/amd64
Jira 7.3 & 7.1

Im new to golang so a little hint what to do would be nice :)

[2017-04-17 11:51] andygrunwald commented on #69
Hey @ypsman,
can you please post your complete code here? Without the source code it is hard to follow. Thanks.

[2017-04-17 12:13] ypsman commented on #69
[code]
its just like the Example .

[2017-04-18 07:25] andygrunwald commented on #69
Does the Project `APITEST` exists?

[2017-04-18 08:59] ypsman commented on #69
Yes, the Fields are correct, its work with a Pyton script.

[2017-04-21 02:47] AdamJacobMuller opened #70 "attachmentID method parameter name misleading"
Hi,
I was looking for how to add an attachment to an issue and I saw:
https://github.com/andygrunwald/go-jira/blob/master/issue.go#L519

But I spent a bunch of time trying to figure out how to create an attachmentID, it would probably be more obvious if this was renamed "issueID" or "issueKey" ?

This shouldn't break/change the API at all, so if others think its a good idea I can submit a PR for t

[2017-04-21 08:42] andygrunwald commented on #70
Hey @AdamJacobMuller,

yes. Make sense. Feel free :)

[2017-04-21 18:26] andygrunwald commented on #69
Can you may post the Python script as well? With this i might be able to find the difference and maybe we hit a bug.

[2017-04-21 18:38] ypsman commented on #69
Its just a simple script with the Jira Module(python3)
I cant post it complete, but heres the class i use for.
[code]

[2017-05-04 11:04] ypsman commented on #69
Hi @andygrunwald,

any news, or just a working example for me:)
ty

[2017-05-07 16:29] #57 closed

[2017-05-07 16:29] andygrunwald commented on #57
Implemented by @yanolab in #72

[2017-05-11 15:17] yageek commented on #69
@andygrunwald I aslo encounter this issue.

If you take a look to the official documentation of JIRA to create an issue (https://developer.atlassian.com/jiradev/jira-apis/jira-rest-apis/jira-rest-api-tutorials/jira-rest-api-example-create-issue), you may have to use something like:

[code]

[2017-05-11 18:05] ypsman commented on #69
@yageek thanks
Now it works, just replaced Name with Key for the Project,
also IssuType needs Name and not  ID.

Thank you:)

[2017-05-11 18:07] andygrunwald commented on #69
Thanks for helping here @yageek!
@ypsman Would you mind to fix the example with a PR?

PS: Sorry to come so late to the game.

[2017-05-11 18:23] ypsman commented on #69
@andygrunwald
Sure :)

[2017-05-11 18:49] ypsman commented on #69
#74

[2017-05-12 14:16] andygrunwald commented on #69
Merged :)
Thank you all

[2017-06-15 17:05] andygrunwald commented on #70
Already done in https://github.com/andygrunwald/go-jira/commit/88bab6c4c87e924fabae656481021437d9370045
Thanks to @francoishill

[2017-06-15 17:05] #70 closed

[2017-06-15 17:11] #56 closed

[2017-06-15 17:14] andygrunwald commented on #56
@Lupus @AlbinOS I added a link to the gist and to this issue into the readme. Checkout https://github.com/andygrunwald/go-jira#authenticate-with-oauth

I hope this works for you :)

[2017-06-15 17:23] Lupus commented on #56
Wow, thanks! Sorry for not looking into this for so long... My jira tool got deprioritized in my todo list along with related items :(

[2017-06-27 03:28] researchlab opened #77 "how to update the given customfield value by programming ?"
is anyone can give me an example?
e.g.  i want to update the customfied_100010's value,  and i try the following code, but not expected and got error .

`
payload := map[string]interface{}{
"fields":{
"customfield_100010":"update from programming",
},
}

jiraClient.Issue.DoTransitionWithPayload(issue.ID, payload)

`
and then , i try to use the jiraClient.Issue.Update(issue)  function , but get err

[2017-06-27 06:27] researchlab commented on #77
i found  the following solution ,

curl -D- -u admin -X PUT --data "{\"fields\":{\"customfield_100010\":\"test-1-job-id\"}}" -H "Content-Type: application/json" http://10.101.11.1:8080/rest/api/2/issue/PRJ-22

the above solution can update any customfields in the  experments, and ,
the Base URL: http://10.101.11.1:8080
the REST API: rest/api/2/issue/ProjectID
PRJ-22: the projectID  of project whic

[2017-06-27 06:27] researchlab commented on #77
closed

[2017-06-27 06:30] #77 closed

[2017-08-08 12:29] fii opened #80 "No Data Returned"
Hello,

We're running this based on the examples provided but no data is being returned:

Here's the script

Thanks

[2017-08-08 13:38] pavel-at-getpatch opened #81 "Support gopkg.in"
Please support linking this library with gopkg.in by making current state as v1 by tagging or branhing.
More info here: http://labix.org/gopkg.in

[2017-08-18 09:18] andygrunwald commented on #80
Hey @fii,

which JIRA Version you are using?
Do you have any way how i can reproduce this? Can you test this against a public JIRA like the Apache one?

[2017-08-27 02:22] mccannyoung commented on #20
Do you want something like this?
![go-jira-merged](https://user-images.githubusercontent.com/8224289/29746585-9ded9a44-8aa4-11e7-8ed6-13bef1fdb5cd.png)

[2017-08-31 11:59] #81 closed

[2017-08-31 12:01] andygrunwald commented on #81
Thanks @pavel-at-getpatch for this suggestion.
I tagged a https://github.com/andygrunwald/go-jira/tree/v1.0.0 version and added a small note in the README. See https://github.com/andygrunwald/go-jira/commit/e844092bb379d40732b5f43be646d4ac88790eab

You know can import it via `gopkg.in/andygrunwald/go-jira.v1`

Have fun!

[2017-09-26 19:28] andygrunwald commented on #20
Hahaha, @mccannyoung This looks great.
But it doesn't look like a dragon or a godzilla or something.
Do you think we can modify it a little bit that it fits to @nebril original post?

[2017-09-27 11:09] nebril commented on #20
@mccannyoung I will try to add lizard and convert it to svg if that's fine with you

[2017-09-28 18:07] mccannyoung commented on #20
@andygrunwald  I thought I had read that the Jira logo (well, it's no longer the current one, now it's some kind of diamond-like thing - https://www.atlassian.com/dam/jcr:75ba14ba-5e19-46c7-98ef-473289b982a7/Jira%20Software-blue.svg ) was supposed to be an abstract lizard/serpent or something.

[2017-10-28 08:00] edwinakatosh opened #86 "GET request removes path"
When passing a URL with a path, the path is not included in the request.

[code]

returns

[code]

Any ideas?

[2017-10-28 18:20] andygrunwald commented on #80
No feedback since ~2 month.
If this issue is still present or if you can provide more information (like how i can reproduce this issue, docker image, jira version, etc.), please reopen it.

[2017-10-28 18:20] #80 closed

[2017-10-28 18:59] andygrunwald commented on #86
Hey @edwinakatosh,

remove the leading `/` of `rest/api/2/user/` and everything works as expected:

[code]

produces

[code]

Does this work for you?

[2017-10-28 20:04] edwinakatosh commented on #86
Yes that works. Thanks Andy!

[2017-10-29 18:17] #86 closed

[2017-10-29 18:17] andygrunwald commented on #86
Solved.

[2017-11-14 22:20] jeynesrya opened #91 "Runtime error when authentication error occurs"
When I use an invalid host or the authentication details are incorrect, the errors printed back to the console are not best helpful when it fails to get an issue. See below for output currently:

[code]

Seems as though an error is occurring whilst the error is attempting to be built. I have to dig down into breakpointed code in order to find what the actual error was. For example, I have to dig d

[2017-11-14 22:27] rbriski commented on #91
That looks like an error against the code I added. I'll look at it tonight.  Do you mind providing more detail around how you call the code so I can get the rest case right?

[2017-11-15 00:17] rbriski commented on #91
I can't replicate this by changing the host to something non-existent or messing up auth.  However, if I turn off my connection, I can get this error to happen.  Working on it.

[2017-11-15 02:06] rbriski commented on #91
Turns out, the custom `JiraError` was eating the error from the http connection.  The PR above checks and wraps the http error if there is no response.

[2017-11-16 19:22] andygrunwald commented on #91
Thanks @rbriski for taking care.
@jeynesrya can you test the new version (master) and confirm that if #92 fixes your problem?

[2017-11-23 02:03] rbriski commented on #91
Based on the issue and the testing I did, I believe the PR closed this.  You can probably close this issue.

[2017-11-23 12:50] #91 closed

[2017-11-23 12:50] andygrunwald commented on #91
Great. Thanks to all!

[2017-11-23 18:24] jeynesrya commented on #91
Confirmed, sorry for the delay

[2017-11-27 15:31] shdunning opened #93 "support for oauth2 used by Jira Add-Ons"
In order to support REST API calls from Jira Add-Ons created through the Atlassian Connect framework, we need to:

1. create a JSON Web Token (JWT) assertion
2. use the JWT assertion + secret to get an access token
3. include the access token in the request headers

I've got a working standalone example and I'll create a PR in a bit.

[2017-11-27 16:51] rbriski commented on #93
`oauth2` support is pretty limited to the HTTP client, correct?  If so, wouldn't it be best to keep it separate from the `go-jira` code but still link to it in the README like the current `oauth1` docs?

https://gist.github.com/Lupus/edafe9a7c5c6b13407293d795442fe67

[2017-11-27 17:47] shdunning commented on #93
It is, except there is some of non-trivial Jira / Atlassian specific stuff in there -- like creating [JSON Web Tokens](https://developer.atlassian.com/cloud/jira/software/understanding-jwt/). I was hoping the PR I'm about to put together will save people some time in the future.

[2017-11-27 18:06] shdunning commented on #93
@rbriski take a look at #95 and see what you think.

[2017-11-30 07:58] ketanmujumdar commented on #67
Hello @andygrunwald Can I have a real world example for the same ? Sorry but I am new to golang.

[2017-12-10 19:02] andygrunwald commented on #67
You can use the [InitIssueWithMetaAndFields](https://godoc.org/github.com/andygrunwald/go-jira#InitIssueWithMetaAndFields) function.
See here for a real world example: https://github.com/cloudflare/complainer/blob/master/reporter/jira.go#L125

Does this help?

[2017-12-10 19:11] andygrunwald commented on #93
Hey @shdunning and @rbriski, thanks for your effort.
Since some days i think about to renew go-jira and make it more structured.
In this move i thought about keep auth in generale outside of this lib. Like the go-github library here: https://github.com/google/go-github#authentication

I didnt have a deeper look at the JWT topic (yet). Do you think we can do it somehow with a http.RoundTripper?

I

[2017-12-15 20:54] nzin-appdirect commented on #56
thanks @Lupus for the gist, it helped me a lot!

[2017-12-27 06:25] ikornienko opened #98 "Minor misprint in README.md: JRIA -> JIRA"
Great library, totally deserves misprint-free README :)
In README there is

With "JIRA" being a key word in the context of this library, I think it ought to be fixed.

[2017-12-27 13:11] andygrunwald commented on #98
Fixed in #99
Thank you :)

[2017-12-27 13:11] #98 closed

[2018-01-04 20:03] shdunning commented on #93
@andygrunwald sorry it took so long to respond. I don't know much about http.RoundTripper, but I wouldn't be surprised if you couldn't do it all in the `http.Client*` reference and then pass that into go-jira. In my PR, however, I was trying to make it easier for folks that might want to use go-jira to help build a Jira Add-On via the Atlasssian Connect framework. WRT JWT, there is some Jira-speci

[2018-01-06 22:16] andygrunwald commented on #93
Thanks for the update. Right now i am quite limited in time to review and test this (private priorities).
So please dont delete your fork here. Once i have time again i will start reviewing it, ok?

In general: I am open for this / such a feature set. I am not 100% sure what the best solution is or now. I know to less about the JWT topic.

I will come back once i have a little bit more spare time,

[2018-02-12 19:18] acidbee opened #105 "Cannot use IssueFields stuct as valid 'fields' object when performing a transition w/ payload"
The fields `Type`/`issuetype` and `Summary` do not have `omitempty` in their stuct tags. This is certainly fine for a create, but when performing a transition, the presence of these fields without data in them confuses the JIRA API and error response of 400 is returned.

Example of a marshaled request using IssueFields for `fields`:
[code]

Response:
[code]

[2018-02-12 21:08] Hoid opened #106 "NewClient() seems to be returning nil without throwing an error"
Hi all,

I have a problem where attempting to get an issue's info throws a nil pointer exception. The error is the following:
`runtime error: invalid memory address or nil pointer dereference: errorString`

Here's where I'm accessing the jiraClient, inside the OnIntent method:
[code]

It is on this line that I'm getting the error:
`issue, issueResponse, err := jiraClient.Issue.Get("DUN-455", nil)`

[2018-02-13 00:02] rbriski commented on #106
I tried to reproduce this with a working JIRA site but couldn't.  Also, I don't understand where `OnIntent` and `OpenTicketIntent` are coming from.  Are these functions in your own code?

Are you sure the configuration for the client is correct?  Are you able to provide any more information or create a failing test?

[2018-02-13 01:18] Hoid commented on #106
`OnIntent` comes from [here, a go port of the alexa skills kit](https://github.com/ericdaugherty/alexa-skills-kit-golang) and `OpenTicketIntent` comes from my Interaction Model in the Amazon Alexa Skills Kit configuration. It's an intent that I've configured and it's just a case in a switch statement in my code
that gets triggered.

I'm sure that I've tried all of the different configurations I ca

[2018-02-13 19:51] andygrunwald commented on #105
Can you post a minimal code example to reproduce this? Thank you.

[2018-02-17 01:33] acidbee commented on #105
[code]

[2018-02-17 16:31] kutysam opened #108 "New to Go"
I know this isn't the right place to ask this question as it isn't an issue.

However, i hope you guys can assist me.

How do i create a component to be tagged to a createissue?

`	i := jira.Issue{
		Fields: &jira.IssueFields{
			Assignee: &jira.User{
				Name: "sample",
			},
			Reporter: &jira.User{
				Name: "samplereporter",
			},
			Components: &[]jira.Component{{Name: "testcomponent"}},
			P

[2018-02-17 18:07] rbriski commented on #108
You can look at this project for a good example of how to create an issue with a component:
https://github.com/jshirley/slack-ask/

Specifically, this function shows how to do it.
https://github.com/jshirley/slack-ask/blob/master/asker/jira.go#L31

[2018-02-17 18:14] rbriski commented on #106
@Hoid , you're describing an error for a variable that I can't see in either this repo, `go-jira`, or the alexa skills kit that you reference.  The error you mention is:
`runtime error: invalid memory address or nil pointer dereference: errorString`

Where is `errorString`?  Why isn't it being set?  Where is it supposed to be set?  You're referencing code that no one else has access to.

If you wa

[2018-02-17 21:17] Hoid commented on #106
[main.zip](https://github.com/andygrunwald/go-jira/files/1734164/main.zip)
Here's the code I'm working with

[2018-02-17 21:42] rbriski commented on #106
You just zipped up a binary file named `main`.  Please create a repository and check it in on Github so I can look at it.

[2018-02-17 23:29] Hoid commented on #106
Oops sorry. I've included the actual .go file now. I don't want to put this code on github, though, because I don't want it to be public for long and it's easier to delete a comment than a repo.
[main.zip](https://github.com/andygrunwald/go-jira/files/1734257/main.zip)

[2018-02-18 02:56] rbriski commented on #106
I extracted the code that actually uses `go-jira` here: https://gist.github.com/rbriski/6637af24c0c5447410175a7579618f75

If you fill in your credentials and JIRA site, it works fine.  Any issue you're running into is with your code or some other library.

I tried to run the whole thing but the Alexa library your using has made some backward incompatible changes since you last pulled your dependen

[2018-02-18 03:01] rbriski commented on #93
I've been messing around with this a little.  It looks like `RoundTripper` is the idiomatic way to add middleware into http clients.  Here's an example of authentication being added into the client:
https://github.com/vadimi/go-http-ntlm

I'm going to keep looking at this.  I think the best way to handle it would be to create an interface so that anyone that implements the interface can drop their

[2018-02-19 04:29] Hoid commented on #106
I was able to fix it! Thanks so much, I'm not really sure what the problem was, but I copied your barebones go-jira code and started from scratch, and it worked. Closing.

[2018-02-19 04:29] #106 closed

[2018-02-21 18:36] acidbee commented on #105
I'd also request adding support for the update structure in Issue for PUTs, in the short term at least as a MarshalMap:

`Update  *tcontainer.MarshalMap  'json:"update,omitempty" structs:"update,omitempty"'`

[2018-02-21 20:58] andygrunwald commented on #108
@kutysam Does the comment by @rbriski help?

[2018-02-21 21:00] andygrunwald commented on #106
Glad that it was solved :)
Thanks @rbriski for your help here.

[2018-02-21 21:06] andygrunwald commented on #93
I really like how go-github is doing this.
See docs here: https://github.com/google/go-github#authentication

Here is an implementation for BasicAuth via RoundTripper: https://github.com/google/go-github/blob/master/github/github.go#L895

I think this is a nice way, because it is not 100% build into the lib.

[2018-02-22 05:30] rbriski commented on #93
Yes, I think the better example of what the syntax should look like is right about the basic auth code:
[code]

[2018-02-22 14:35] andygrunwald commented on #105
Hey @acidbee, sorry for the late response.
I am right now limited in time due to some private things, i will come back to you later, ok?

@rbriski Can you help here?

[2018-02-22 16:12] rbriski commented on #105
OK,  I do see what @acidbee is talking about.  The docs are here:
https://developer.atlassian.com/cloud/jira/platform/rest/#api-api-2-issue-issueIdOrKey-transitions-post

The specific line that describes this behavior is:
`If a field is not configured to appear on the transition screen, it will not be returned in the transition metadata. A field validation error will occur if such field is submitt

[2018-02-22 16:20] rbriski commented on #105
Wait, this was already fixed is #110.  I'm going to close this issue.

[2018-02-22 16:21] #105 closed

[2018-02-22 17:59] rbriski commented on #108
@kutysam , I'm going to close this.  Tell me if you need more help.

[2018-02-22 17:59] #108 closed

[2018-02-22 18:33] acidbee commented on #105
@rbriski Sorry about that. I probably should've included a test that covers that specific issue. But my PR did patch the two fields in IssueFields.

[2018-03-06 01:11] mansilladev opened #116 "Cookie-based auth and basic auth with password to be deprecated on Jira cloud APIs - start using API tokens"
See: https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-basic-auth-and-cookie-based-auth/

As of March 15, 2018, in accordance to the [Atlassian REST API Policy](https://developer.atlassian.com/platform/marketplace/atlassian-rest-api-policy/), support for **passwords in HTTP basic auth** requests and **cookie-based authentication** will no longer be supported on or after Septem

[2018-03-06 05:39] rbriski commented on #116
Thanks.  I'll be sure to include that in the authentication library that I'm building.  It's actually separate from the main `go-jira` library.  `go-jira` doesn't handle authentication directly.  It accepts an `http.Client` that does the authentication.

I'll update and close this issue when I have working code.

[2018-03-06 05:40] rbriski commented on #93
I closed #95 and I'm moving the rest of the conversation to here.

[2018-03-06 10:12] mansilladev commented on #116
For basic auth, you just need to replace the password with an API token, and it will work exactly the same. If the library uses cookie-based auth, you’ll need to switch to either OAuth 1.0a or basic.

[2018-03-06 15:12] rbriski commented on #116
That's simple enough. I'll update the docs

[2018-03-06 15:15] shdunning commented on #93
@rbriski these are looking good from a completeness standpoint:
https://github.com/rbriski/atlassian-jwt
https://github.com/rbriski/atlassian-jwt/blob/master/examples/jwt/main.go

The use case I was trying to solve with my PR was just server <-> server communication over Ouath2 (meaning, add-on is already installed, install/uninstall + webhook handlers are registered, shared secret is stored, etc.

[2018-03-06 17:38] rbriski commented on #93
@shdunning , simple JWT bearer-token authentication will work for install/uninstall/webhook work as long as you're reading or writing as the user that installed the add-on (admin in many cases).

The only time you need oauth2 is for ACTS_AS_USER capabilities when you actually want to act as a user other than the one that installed the add-on.  The install security context returns different info if

[2018-03-08 17:13] lwoj17 commented on #35
What would the correct syntax be for creating an issue with a custom field and that data needs to be in an array?

{"errorMessages":[],"errors":{"IT Teams":"data was not an array"}}

Unknowns: tcontainer.MarshalMap{
    "customfield_11882": "Something",
},

[2018-03-08 17:59] rbriski commented on #35
This issue is closed.  Please open another issue with the question and provide the code that's failing.

[2018-03-08 19:12] lwoj17 opened #117 "Data is not an array, custom field create jira issue"
I'm trying to create a new issue in Jira using a custom field and continue to receive this error:

{"errorMessages":[],"errors":{"This Field":"data was not an array"}}
This:  Request failed. Please analyze the request body for more details. Status code: 400

The test code:

[code]

[2018-03-08 19:19] rbriski commented on #117
Can you try this construction?

https://github.com/kortheof/golang-exercises/blob/0f87123ceabf4b36a77dcb7ffff284011e3c09b4/Jira_Spreadsheets/createJira.go#L23

[2018-03-08 21:09] lwoj17 commented on #117
This didn't work either. I think this has to do with the custom field being a 'multi-select field'..

[2018-03-08 23:46] rbriski commented on #117
Have you tried reading the issue and inspecting what is returned?

[2018-03-09 13:12] edwinakatosh opened #118 "Parsing issue.Fields.Created and issue.Fields.Updated?"
Having trouble parsing created and updated fields into time.

`2018-02-13T23:52:54.000-0600`

currently getting .. with my efforts

`0001-01-01 00:00:00.000000`

How can I parse? Any help is appreciated.

[2018-03-09 18:54] rbriski commented on #118
That format is called ISO8601.  Golang (and most other languages) can parse it.

https://play.golang.org/p/xe2mWIHZGU

[2018-03-09 19:01] rbriski commented on #118
That format is ISO8601 and I don't believe that Golang can parse it natively.  You have to actually give it a format to parse.  This shows how:
https://github.com/joeshaw/iso8601/blob/master/iso8601.go

I wouldn't include the library.  You just need the format string for parsing.

[2018-03-09 19:07] rbriski commented on #118
You know what, I actually don't like the library I mentioned above.   Here's a quick way to do it:

https://play.golang.org/p/w0aBhNlm8ga

It uses `time.Parse`:
https://golang.org/pkg/time/#Parse

[2018-03-09 19:07] #118 closed

[2018-03-09 19:14] edwinakatosh commented on #118
Thank you! I'll try that.

[2018-03-11 22:40] rbriski commented on #93
@shdunning I'm trying to add oauth2 to my library but I can't get JIRA to return the oauthClientID.  I see that field in the code you submitted but I don't see how you get it.  Where did you get the oauthClientID?

[2018-03-12 05:01] rbriski commented on #93
Nevermind, I figured out the issue.

[2018-03-14 17:26] pcj opened #120 "Basic Authentication Example?"
Reading the docs I tried the following:

[code]

But this does not compile.  it seems the `jira.BasicAuthTransport` does not exist.  However, I see this test:

[code]

Which one is correct?  Are docs out of date?  Am I missing something here?

[2018-03-14 18:12] rbriski commented on #120
Don't use `SetBasicAuth`, it's deprecated.  The `BasicAuthTransport` struct is here:
https://github.com/andygrunwald/go-jira/blob/master/jira.go#L289

Are you sure you're on the latest version?

Can you try going to `examples/basicauth` and doing `go run main.go`?

You can look at the example code here:
https://github.com/andygrunwald/go-jira/blob/master/examples/basicauth/main.go

[2018-03-14 18:15] rbriski commented on #120
Oh, I see the issue.  You're using `gopkg.in` and I don't think I've versioned the code to correctly keep up with it.  Let me do that now.

[2018-03-14 18:23] rbriski commented on #120
OK, I've released `v1.1.0` which should update the `gopkg.in` tag.  Can you `go get` again?

[2018-03-14 18:27] pcj commented on #120
Party on Garth, it works!

Thanks for quick response.

[2018-03-14 18:27] #120 closed

[2018-03-25 19:43] vjeantet opened #122 "Find issues from a filter ID"
Hello, is there a way to search for issues using an existing jira filter (ID) ?

[2018-03-26 17:48] rbriski commented on #117
@lwoj17 can you use `httputil.DumpResponse` to show the full response from the client?

[2018-03-28 11:38] andygrunwald commented on #20
@umamiMike pinged me in the Gophers slack about this.

<img width="451" alt="screen shot 2018-03-28 at 13 38 05" src="https://user-images.githubusercontent.com/320064/38026661-447b4150-328d-11e8-954a-86fb1c3e0511.png">

[2018-03-28 14:13] rbriski commented on #20
We could go to the source.

@ashleymcnamara, please make a Godzilla gopher for this humble project.  I've listened to you on GoTime and you seem very busy.  This would likely not be a good use of your time and we have nothing to offer you ... except Github stars.

I'm actually not even sure you can at-mention people not already related to the project, but it's worth a shot.

[2018-03-28 16:39] umamiMike commented on #20
As soon as I get some actual time I might give it a shot...Renovating houses (and having a full time job) is hard work.

[2018-04-02 22:43] rbriski commented on #93
@shdunning My change was accepted into the Go stdlib (https://go-review.googlesource.com/c/oauth2/+/102037).  You can now use JIRA through `golang.org/x/oauth2/jira`.  I'll add an example in my auth repo and include it here before closing this ticket.

[2018-04-18 17:50] lwoj17 commented on #117
@rbriski sorry I have been absent on this. I will give `httputil.DumpResponse` a try today. A little update since last time.. New code `func main() {

    customfield_11882 := tcontainer.NewMarshalMap()
    customfield_11882["value"] = "Linux"
    client, err := connectJira()
    if err != nil {
        fmt.Println("I CANT CONNECTO TO JIRA error:", err)
        return
    }

    i := jira.Issue{

[2018-04-19 18:18] lwoj17 commented on #117
@rbriski I believe this is what you are asking for?

`*jira.Response Request failed. Please analyze the request body for more details. Status code: 400
HTTP/1.1 400
Transfer-Encoding: chunked
Cache-Control: no-cache, no-store, no-transform
Content-Type: application/json;charset=UTF-8
Date: Thu, 19 Apr 2018 18:14:47 GMT
Set-Cookie: JSESSIONID=0D450E67CDE0D3D110E070FDA03F64E3;path=/;HttpOnly
Set-Coo

[2018-04-19 18:26] lwoj17 commented on #117
This is the full output of editmeta

[code]

[2018-04-20 15:35] #117 closed

[2018-04-26 19:44] BattleBas opened #124 "Error: unknown field 'BaseURL' in struct literal of type jira.CookieAuthTransport"
In README.md the examples for **Create an issue** and **Call a not implemented API endpoint**, the type `CookieAuthTransport` is being passed the field `BaseURL` and then used by calling `tp.BaseUrl`.

When I try to do this I get the following error:
`unknown field 'BaseURL' in struct literal of type jira.CookieAuthTransport`
Checking `type CookieAuthTransport struct` in jira.go, I don't see the f

[2018-04-26 23:31] rbriski commented on #124
Yeah, the documentation is incorrect.  Look at this example for the actual behavior: https://github.com/andygrunwald/go-jira#authenticate-with-session-cookie

I'll update the documentation to reflect the actual behavior.

As a side note, cookie auth is not recommended.  If you want the simplest way to access JIRA, it's best to use basic auth: https://github.com/andygrunwald/go-jira#basic-auth-exam

[2018-04-27 18:11] BattleBas commented on #124
Thank you for the response, using basic auth works fine for what I'm doing.

Maybe mentioning your recommendation to use basic auth in the documentation might be a good idea?

[2018-04-28 06:04] BattleBas commented on #20
I gave it a go and created a pull request with the attempted logo, hope you guys like it!

There is a higher quality image in the pull request, but here is a preview:

![small_logo](https://user-images.githubusercontent.com/3441183/39392686-e02ae984-4a7f-11e8-9215-db9461e0080f.png)

[2018-04-28 11:35] rbriski commented on #124
I've updated the docs and added your logo in #127 .  Thanks!

[2018-04-28 11:35] #124 closed

[2018-04-28 20:33] andygrunwald commented on #20
This is great! Thanks for this. @rbriski integrated it already. I think we are done here, right?
If not, feel free to post it here. we will reopen it.

[2018-04-28 20:33] #20 closed

[2018-04-29 17:05] tormath1 opened #128 "Documentation with Time"
Hi, thanks for this lib. :smile:

However, I would like to get `updated` field from a Jira issue, but I don't know how to get it.

[code]

What do we need to use as `UnmarshalJSON` arg ?
Thanks !

[2018-04-29 19:04] rbriski commented on #128
Yeah, this took me a little bit to figure out.  You have to cast it to a `time.Time` before you can operate on the value.
[code]

You can also output an alternative format with the `Format` function: https://golang.org/pkg/time/#Time.Format

[2018-04-29 19:13] tormath1 commented on #128
Awesome. Thanks for the very quick response !

[2018-04-29 19:13] #128 closed

[2018-04-29 22:47] umamiMike commented on #20
Amazing!

On Sat, Apr 28, 2018 at 1:33 PM, Andy Grunwald <notifications@github.com>
wrote:

--

Mike Wilding
Cell: 503.957.0099
LinkedIn <https://www.linkedin.com/in/michaelwchastain/> • Github
<https://github.com/umamiMike> • Twitter <https://twitter.com/trulyMikeC> •
Soundcloud <https://soundcloud.com/mike_chastain>

[2018-05-03 00:58] shdunning commented on #93
@andygrunwald @rbriski i got this working in our env following this example: https://github.com/rbriski/atlassian-jwt/pull/2/files

I think we can close this issue out now.

Thanks to you both for all the help!

[2018-05-03 00:58] #93 closed

[2018-05-08 14:33] shdunning opened #129 "BUG: requests fail if baseUrl contains extra path"
For Jira Server instances the base urls can contain extra path params (like https://example.com/jira) and `NewRequest` calls end up losing the last path param due to the way the request urls are built using `ResolveReference`:

https://github.com/andygrunwald/go-jira/blob/master/jira.go#L82
https://github.com/andygrunwald/go-jira/blob/master/jira.go#L119
https://github.com/andygrunwald/go-jira/blo

[2018-05-08 15:33] shdunning commented on #129
Never mind -- I misunderstood how baseUrls and relative urls are handled by `url.ResolveReference`. In this case, we need to make sure the stored baseUrl always has a trailing `/` and subsequent API calls use relative paths without the preceding slash (what the comments suggestion).

[2018-05-08 15:33] #129 closed

[2018-05-08 21:32] andygrunwald commented on #129
Great that you solved it yourself.
If you think, we should simplify it by adding a slash to the URL once no one is there, feel free to apply a PR.

[2018-05-09 00:45] andygrunwald commented on #129
Thank you!

[2018-05-11 05:46] aniztar commented on #52
@andygrunwald Had a similar problem. Your answer helped me too. Thanks!

[2018-05-13 10:12] andygrunwald commented on #52
@aniztar Glad to hear that! Good luck with your project.

[2018-05-20 02:32] theskipster opened #134 "Basic Auth against 7.4.4 does not seem to be working"
I have the following code:
[code]
It keeps giving me the following error:
[code]

It is not authentication properly (it is returning a 403), even though the username and password are the same.  Postman works fine with the same credentials on the same machine.

Am I missing something?  Do I need to do something special to the username or password?

Any help would be appreciated.

[2018-05-22 01:58] #134 closed

[2018-05-22 03:48] rbriski commented on #134
Ah, thanks! I was working on this. I could not get it to fail.
On Mon, May 21, 2018 at 6:58 PM Jarret Peterson <notifications@github.com>
wrote:

[2018-05-23 15:27] rbriski opened #135 "Allow plug-ins to be added as a service"
The PR at #133 is trying to add a plugin API.  I like the idea of being able to harness `go-jira` with plug ins but I don't think it belongs in the core library.  This issue is to discuss notation around how to import and add a new service into `go-jira`.

[2018-05-25 10:49] ashakabra opened #136 "Support of custom fields while creating issue"
Hi , I am trying to create issue using custom fields ,

below JSON allows me to create issue through rest api
{
   "fields":{
      "project":{
         "key":"ABC"
      },
      "summary":"TEST",
      "description":"Story is created from TEST",
      "issuetype":{
         "name":"Story"
      },
      "customfield_10024" :{
    	"id" :"10036"
      }
   }
}

Could you please help in syntax of

[2018-05-25 17:33] rbriski commented on #136
Can you check out #117 and see if that helps you?

[2018-05-25 18:34] andygrunwald commented on #136
Maybe we should add this to the docs.

[2018-05-25 18:36] andygrunwald commented on #135
Looks like a quite simple solution :)

[2018-05-25 18:59] rbriski commented on #135
After thinking about it a little, my solution wouldn't work.  I'm thinking of structs as objects, which they are definitely not.  The functions don't come along with `jira.Client`.

You have actually already [highlighted a way to do it in the docs](https://github.com/andygrunwald/go-jira#call-a-not-implemented-api-endpoint)

[2018-05-31 14:13] sleeper opened #138 "Support renderedFields expand parameter"
Hi,

Great library, but would be greater if it was supporting the `renderedFields` expand option. This would help for example to retrieve comments formatted as HTML, instead of formatted as Wiki markup, and having to transform them ;)

[2018-05-31 15:29] rbriski commented on #138
We'll put it on the list.  We're also very appreciative of code contributions :)

[2018-06-01 06:37] sleeper commented on #138
Great! Regarding contributions let me think about it ;)
Seems like some regression that have been introduced in JIRA API related to that: https://jira.atlassian.com/browse/JRASERVER-65922

Where I'm a little bit worried, is that it will somehow need some form a introspection to iterate over the fields, find the non null ones and keep either the field coming from `fields` or from `renderedFields`.

[2018-06-04 20:54] #138 closed

[2018-06-05 06:28] gaurav218 opened #140 "Jira - Create project"
Hi,

I have a requirement to automate project creation in Jira via terraform. Below are my use cases

1. create new project
2. add role to project (r/w/a)
3. remove role from project
4. delete project

Can you pl. help me here on how to do this as current version of your go library doesn't support these use cases. Do you have code snippets for create project ?

[2018-06-06 00:42] rbriski commented on #140
You can go a couple of ways here.
### 1. Add the functionality to `go-jira` and open a PR
This is always great because others will be able to use your code

### 2. Just call a custom endpoint through `go-jira`
The README has instructions on [how to call endpoints that haven't yet been implemented](https://github.com/andygrunwald/go-jira#call-a-not-implemented-api-endpoint).
The endpoint docs are p

[2018-06-07 13:49] gaurav218 commented on #140
I have installed local Jira trail version and also terraform standalone setup in my system.
Also installed jira CLI and my objective is to run remote-exec to call jira api commands like create project.
I have configured environment variables like user, password, jira url etc and copied jira provider binary too.
Can we call jira cli from remote-exec inline command via terraform ...if yes how to set

[2018-06-07 15:54] rbriski commented on #140
This project is not a CLI.  It's a library.  I'm not super familiar with how terraform plugins work but you could:
1. Write your own CLI using this library
2. Include this library in the plugin system (I believe terraform is also written in go) and use terraform's own plugin API
3. Use a CLI that already uses this library (I think @andygrunwald actually wrote one)

[2018-07-16 15:28] MaksymSv opened #153 "Can't cast WorklogRecord.Created to time.Time"
Guys,

I have a struct:
[code]
and simple mapper that is not working (real code is different but shows the same situation):
[code]
Compilation error: **cannot use jw.Worklogs[0].Started (type jira.Time) as type time.Time in assignment**

jira.Time also doesn't have any formatting methods. How it supposed to be exposed to external code?

[2018-07-16 16:49] rbriski commented on #153
Yeah, this is a little confusing.  I talked about it in #128 .

Try casting it to time.Time:
[code]

[2018-07-17 00:05] Jozrael commented on #136
Agreed! Just swinging by this for the first time and custom fields are definitely the first stumbling block to adoption. Thanks :).

[2018-07-17 11:26] #153 closed, assigned to nobody

[2018-07-18 02:04] Jozrael commented on #136
In terms of getting custom fields working at all, I think you're really close @ashakabra. Possibly you just need to treat the map as the group of custom fields (even if you're only using one) - notably, where you used "id" for your key, that's where I needed to put the customfield's #. Like so:

[code]

[2018-07-18 02:05] Jozrael commented on #136
My next question here is how to handle more esoteric types of custom fields, like User Pickers. E.g. "customfield_11425":"data was not an object" when trying to provide a string to a User Picker. Not sure how to package that up to go-jira just yet, but will take a look.

[2018-07-18 22:46] Jozrael opened #154 "Minor nitpick"
issue.Create noms the response body before it returns it. issue itself probably exposes everything you need in this case, but FYI~.

[2018-07-18 22:47] #154 closed

[2018-07-18 23:53] Jozrael opened #155 "Issue.Update and Issue.UpdateIssue identical comments"
I believe the difference is just in what they take in.

[2018-07-18 23:53] #155 closed

[2018-08-02 05:40] Tom-Xie opened #158 "Wrong request method in UpdateComment"
According to [JIRA Update comment API](https://developer.atlassian.com/cloud/jira/platform/rest/#api-api-2-issue-issueIdOrKey-comment-id-put), the request method should be `PUT` instead of `POST`.

I think it just need a quick fix in the `func (s *IssueService) UpdateComment(issueID string, comment *Comment) (*Comment, *Response, error)` method and corresponding test.

[2018-08-10 03:12] Tom-Xie commented on #158
Done, please see this. #159

[2018-08-10 16:07] rbriski opened #161 "The ExampleNewClient test is failing on 1.9 and 1.10 intermittently"
Travis runs on recent PRs are throwing errors on `ExampleNewClient`

[2018-08-20 19:41] oddietaco opened #162 "Authentication incorrect in jira.go:NewClient"
In `func NewClient(httpClient *http.Client, baseURL string) (*Client, error)` in `jira.go`, it appears that the client's authentication information is not being set.

I'm using this code, which is based off of the examples you document.

[code]

I've stepped through the script using GoLand's debugger. Inspecting `c.Authentication` after it has been set shows that

* `authType = 0`
* `username = ""

[2018-08-20 20:14] rbriski commented on #162
Yeah, I should be clearer about the `AuthenticationService` being deprecated.  I try to call it out here:
https://github.com/andygrunwald/go-jira/blob/master/authentication.go#L96

Anyway, we've tried to switch away from authentication being handled by the API.  The standard is to let auth be handled by the http client and then letting that client be passed in when created the API client.  The cod

[2018-08-20 20:19] oddietaco commented on #162
It works correctly for this code:

[code]

but not for this code
[code]

I have attempted to create a ticket manually, using the exact same fields as the script does. It works to manually create the ticket, but it doesn't work in the script.

[2018-08-21 13:58] #162 closed

[2018-08-29 22:12] ahammond opened #165 "IssueLink unrecognized field "expand""
This code:

[code]

Generates the following error:

[code]

[2018-08-29 23:04] ahammond commented on #165
When I dig in with the debugger, I see that there is an HTTPError involved with

[code]
Value set.

[2018-08-30 20:07] ahammond commented on #165
Resolved by adding

[code]

Which was set since the ticket had previously been fetched from JIRA.

[2018-08-30 20:07] #165 closed

[2018-09-11 17:01] andygrunwald commented on #161
It seems to be something related to network or to the external JIRA instance, because if you repeat the tests, sometimes they succeed. So they are flaky somehow.

See the builds here:
- https://travis-ci.org/andygrunwald/go-jira/builds/426393620
- https://travis-ci.org/andygrunwald/go-jira/builds/426151774
- https://travis-ci.org/andygrunwald/go-jira/builds/425847237

[2018-09-12 19:08] #161 closed

[2018-09-12 19:09] rbriski opened #170 "Go 1.6 and below no longer work in TravisCI"
https://github.com/golang/go/issues/26576

Remove Go 1.6 and below from automated testing.

[2018-09-12 19:14] #170 closed

[2018-09-12 19:33] #158 closed

[2018-09-12 19:35] rbriski commented on #136
I'm going to close this.  If there are additional questions we can reopen.

[2018-09-12 19:35] #136 closed

[2018-09-12 19:36] rbriski commented on #135
Closing because there is already a way to do it.  I've linked to it above.

[2018-09-12 19:36] #135 closed

[2018-10-09 12:27] EnchanterIO commented on #52
Lol @andygrunwald, nice to see you again outside of trivago. You just solved my problem.

[code]

Worked perfectly.

[2018-10-10 14:45] andygrunwald commented on #52
Thanks @EnchanterIO  :)

[2018-10-12 10:54] Weiss91 opened #174 "Project.Roles doesn't support roles other than "Developers""
I wanted to get list of all roles in a specific project.
These roles are customized in each jira instance. The existing version of this api does only support the role "Developers".
So i changed the project struct to make the roles field unmarshal customized project roles in a map.
This gives the caller the flexibility to check which roles are present in a project.
I also added a test to check if a

[2018-10-13 06:06] rbriski commented on #174
@Weiss91 Can you create a real PR?  It will be easier to work with.  We'll be able to review it and you can make changes in the same branch and they'll show up in the PR.

Your test is a little confusing.  Why would there be 9 and not some other number of roles (or projects)?

[2018-10-19 19:43] vtomasr5 opened #178 "Allow to create an Issue with CustomFields when they are required fields"
Hi,

I've been trying to create an Issue but when I created a custom field in the "create issue form" and I don't specify those fields in the Issue struct I get an status code 400.

It has already support for that functionality? If so, how can I make it work? If not, how hard is to add it? ;)

Thanks

BTW good job!!

[2018-10-22 16:03] erutherford opened #179 "Unexported types make it more difficult to create interfaces for methods"
First I'd like to thank you for writing this package.

We were recently updating our package and noticed that there's an un-exported Type on the [UserService Find](https://godoc.org/github.com/andygrunwald/go-jira#UserService.Find) method.  While we can use the provided `With*` methods to provide these types, it breaks the ability to directly implement an interface for that method.  For now we'll

[2018-10-22 16:54] rbriski commented on #179
Can you give an example of the way that you would like to access that function?  I think this is a fairly recent addition so it hasn't gotten a ton of exercise yet.

Also, you might be giving us too much credit for long term design decisions.  If you have a more idiomatic way to do this, I'm open to it.

[2018-10-22 17:43] erutherford commented on #179
Sure @rbriski , we're constructing a new client struct with only the methods we need to complete a specific task, this helps with mocking for tests and provides a cleaner interface only providing what we need access to.

[code]

Now that there's an un-exported type we're unable to implement the interface.

[2018-11-09 19:59] SciGno commented on #178
I was wondering the same thing.  Maybe a function to add a custom fields to jira.IssueFields would be nice.

[2018-11-20 22:05] davidnewman opened #189 "FilterService GetList method fails"
The FilterService has a function named GetList defined in filter.go. This method doesn't work because it isn't a valid request in the JIRA API.

If you look at the official JIRA API docs: https://docs.atlassian.com/software/jira/docs/api/REST/7.12.0/?_ga=2.180696935.155455041.1542750289-2108505718.1535680562#api/2/filter

You can see that `api/2/filter` is not a valid request. Instead, you can eit

[2018-11-21 13:22] wlmost opened #191 "How to create an issue with watchers added"
I am wondering how I can create an issue with given watchers.
That is my code
[code]
But I get following error:
[code]
Could you provide an example?

[2018-12-31 23:21] ebilling opened #193 "Authentication error appears as JSON parse error"
When constructing errors, neither the response code or the content-type is inspected to determine if the payload is indeed JSON, so only errors that are sent as JSON render correctly.

Ex.) use the wrong username to log in, it will come back as a JSON parse error.

[2019-01-03 07:46] andygrunwald commented on #193
Fixed within https://github.com/andygrunwald/go-jira/pull/194

[2019-01-03 07:46] #193 closed

[2019-01-13 12:58] fourplusone commented on #140
Hi @gaurav218 I think you can do this with my fork of the terraform jira provider. Right now, its implemented in the provider itself, however in the longer run, this feature should be ported to go-jira :)

https://github.com/fourplusone/terraform-provider-jira

[2019-02-14 14:43] carljthompson opened #197 "IssueUpdate -- Issue error occured: Request failed. Please analyze the request body for more details. Status code: 400"
I successfully connected to our JIRA instance and pulled in the details of an issue.  I am trying to just add a label to an existing issue using IssueUpdate.  I couldn't find a good example.  I did drill into the code (issue.go | UpdateIssue ) and see the JIRA link (https://docs.atlassian.com/jira/REST/7.4.0/#api/2/issue-editIssue)

Here is the code I am using:

package main

import (
	"fmt"
	"git

[2019-02-26 14:05] andygrunwald commented on #197
@carljthompson Hey, thanks for the issue.
Sadly I don't have a lot of time right now. Because of this, I won't be able to take care of this soon.
Is someone from the community able to help here?

[2019-03-19 17:31] jiaohe opened #198 "panic seen when call UserService.GetSelf func with unauthorized user"
runtime.goexit
	/tmp/build/38b8ed6e/gopath/src/git.calculi.com/calculi/projectmgmt-service/handler/jiraPoller.go:31
	git.calculi.com/calculi/projectmgmt-service/handler.PollPMServer
	/tmp/build/38b8ed6e/gopath/src/git.calculi.com/calculi/projectmgmt-service/handler/jiraPoller.go:54
	git.calculi.com/calculi/projectmgmt-service/handler.doPollAndUpdate
	/tmp/build/38b8ed6e/gopath/src/git.calculi.com/

[2019-03-20 07:15] andygrunwald commented on #198
Fixed in https://github.com/andygrunwald/go-jira/pull/199

[2019-03-20 07:15] #198 closed

[2019-03-29 19:06] mayuresh82 commented on #197
FYI Issue creation is also broken with the same error. Tee library is pretty unusable at this point.

[2019-03-29 22:05] ghostsquad commented on #197
@carljthompson you are ignoring the response here:
[code]

that `_` is the response. Read the body to get more information.

[2019-03-29 22:05] ghostsquad commented on #197
[code]

[2019-03-29 22:10] ghostsquad commented on #178
Ya, I was trying to dig into the Godocs a bit to find this out too. there's an `Unknowns` field in the `IssueFields` struct. I tried doing something like this:

[code]

but I get this error:
[code]

The jira API documentation shows something that would be very difficult to implement in Go.

https://developer.atlassian.com/server/jira/platform/jira-rest-api-examples/

[code]

Allowing for strongly

[2019-03-29 22:23] ghostsquad commented on #178
Definitely on the write path I found out. The value depends on the customfield type explained here:

https://developer.atlassian.com/server/jira/platform/jira-rest-api-examples/

So this works if the field is jsut text:

[code]

[2019-03-30 08:14] andygrunwald commented on #197
Thanks @ghostsquad, do you think it makes sense to add this to the README as troubleshooting?

[2019-03-30 15:01] ghostsquad commented on #197
@andygrunwald I think the error should be useful. ;)

[2019-03-31 15:40] andygrunwald commented on #197
@ghostsquad Maybe something like this? https://github.com/andygrunwald/go-jira/pull/196

[2019-03-31 17:23] ghostsquad commented on #174
Fixed in #176

[2019-03-31 17:26] ghostsquad commented on #140
Terraform and CLI bits aside, I think it would be useful to create a project. I'm just not sure how useful it would be within a library like this. That seems like a task that doesn't happen much.

[2019-03-31 17:29] ghostsquad commented on #191
@wlmost can you add the following to your code so you can get the request body and actual error coming from Jira?

[code]

I suspect you can't add watchers until _after_ an issue is created.

[2019-03-31 17:40] ghostsquad commented on #189
@davidnewman Can you create a PR that removes the method `GetList` that doesn't work?

[2019-03-31 17:44] ghostsquad commented on #179
@erutherford I'm still not sure what you are looking for here. Can you provide the unexported types that you need access to?

[2019-03-31 17:49] ghostsquad commented on #179
I think this whole method needs refactoring:
https://github.com/andygrunwald/go-jira/blob/master/user.go#L182-L210

1. The query parameters & url should be constructed using the stdlib URL package.
2. I see now that the ability to filter should be exposed (there's really no need to keep it private)

[2019-03-31 17:50] ghostsquad commented on #179
@erutherford we are accepting PRs! :)

[2019-03-31 17:51] ghostsquad commented on #116
@andygrunwald is this complete, or still needs to be done?

[2019-03-31 18:08] ghostsquad commented on #55
I would strong advice against automating any sort of "fetch all" functionality, as with the wrong query, this could easily timeout, or fetch more items that can be managed. Instead, I think we could implement a `PaginatedResult` type object, that simply makes it very easy to request the next page.

Some ideas for reference:
https://github.com/qiangxue/golang-restful-starter-kit/blob/master/util/pa

[2019-03-31 21:07] ghostsquad opened #200 "General Discussion: Features/Changes in V2"
## Overview

This issue is to discuss what kind of *breaking changes* we want in V2.

We have several PRs that can't be merged in V1 due to backwards incompatibility.

I'll start with my wishlist:

* Support for Contexts (#182)
* All Timestamps Parsed
* Better support for custom fields
* Better error handling
* Don't use `nil` for optional parameters (this is an anti-pattern)
  `If a nil httpClien

[2019-04-01 05:54] andygrunwald opened #201 "Welcome Wes (aka ghostsquad) - a new maintainer"
I would like to Welcome @ghostsquad

Since yesterday, he is an additional contributor/collaborator with merge rights. I added him to the team. Recently he was quite active in the project, also by helping others out with comments and issues.

Welcome! 🍻 ☕️

[2019-04-01 05:59] andygrunwald commented on #116
@ghostsquad Seems to be done. @rbriski added the note to the readme here: https://github.com/andygrunwald/go-jira/commit/485b3ca79ce92959c39e4319476650189fc8b364

@rbriski @mansilladev If you disagree, let us know. We will reopen this ticket.

[2019-04-01 05:59] #116 closed

[2019-04-01 18:01] ghostsquad commented on #201
👋

[2019-04-02 19:19] rikonor opened #202 "Searching for issues and expanding fields"
Hi,

I'm trying to search for issues and expand issue comments, but am having some trouble.

Here's an example of what I'm doing:
[code]

I can repeat fetching an issue with `Get` to get the comments, but I figure that's a really inefficient way to do it.

Any chance you might have some idea how to do this properly?

Thank you!

[2019-04-02 19:22] #202 closed

[2019-04-02 22:31] ghostsquad commented on #202
@rikonor did you solve your own problem? If so, can you document that here in case someone else runs into a similar issue?

[2019-04-02 23:34] rikonor commented on #202
@ghostsquad  Sorry, I figured it out a few minutes after posting this. It was just a matter of including a `MaxResults` in the options. I think it might be nicer if in [Search](https://github.com/andygrunwald/go-jira/blob/master/issue.go#L826), it would build the query params based on which options were set, e.g if `MaxResults` is 0, not include that query params in the URL, etc, which would be eq

[2019-04-03 02:55] ghostsquad commented on #202
@rikonor that's the problem with using structs as options. Zero values have meaning. Here's more information about this problem: https://dave.cheney.net/2014/10/17/functional-options-for-friendly-apis

I'll keep this in mind for changes in V2

[2019-04-08 09:21] OstaninKI commented on #197
@carljthompson did you solve this error?

[2019-04-16 14:38] benmcginnis opened #203 "Add AccountId to User Struct"
See major update to Jira's cloud API for GDPR:

https://developer.atlassian.com/cloud/jira/platform/api-changes-for-user-privacy-announcement/

[2019-04-28 13:12] urld opened #208 "Missing fields in FixVersion struct"
Is there any reason the fields of the struct representing a fixVersion of an issue, do not match the fields of the struct representing a projects version?
[code]

[code]

I can live with the bool pointer weirdness, but i'd really like to access the versions description directly from the issue.
If this is just an oversight, i could send a pull request adding the missing fields to .

[2019-04-28 13:18] urld commented on #208
Pull Request #181 seems to be related to my problem, but has not seen activity in a while, and seems to break the API (which could be avoided easily).

[2019-04-28 15:04] ghostsquad commented on #208
@urld I asked for a small change in the PR to maintain backward compatibility. It seems the PR author may have abandoned the issue, not sure. If you want to submit a backward compatible PR, I'd be happy to merge it and close the other one.

[2019-04-30 18:49] #208 closed

[2019-05-01 16:55] i-wilson opened #210 "IssueLinks unsupported in create function"
{"errorMessages":[],"errors":{"issuelinks":"Field does not support update 'issuelinks'"}}

I get the above error when attempting to create an issue with a link, and according to (this)[https://community.atlassian.com/t5/Answers-Developer-Questions/rest-api-link-issue-while-creating-issue/qaq-p/480766] forum post I don't believe it's supported in jira's api. Should this be removed from go-jira?

[2019-05-02 02:09] ghostsquad commented on #210
The way the code is setup, is that the same object is used for creation as well as what's returned when getting or finalizing after create. As such, you would see a similar error if you try to set the ID on the object when trying to create it. Hopefully that makes sense?

[2019-05-03 19:33] jiaohe opened #211 "runtime goexit when Jira url is wrong (no such host)"
panic occurred if Jira url is wrong (no such host)

projectmgmt-release.projectmgmt.0	runtime.goexit

projectmgmt-release.projectmgmt.0	projectmgmt-service/handler.(*PMHandler).GetUserIssue
projectmgmt-release.projectmgmt.0	projectmgmt-service/providers/jira/jira.go:172
projectmgmt-release.projectmgmt.0	projectmgmt-service/providers/jira.(*Jira).GetUserIssues
projectmgmt-release.projectmgmt.0	proj

[2019-05-04 00:29] ghostsquad commented on #211
How would you like to see this changed?

[2019-05-10 14:41] xaniasd opened #213 "board type list option incombatible with REST API"
according to the [docs](https://docs.atlassian.com/jira-software/REST/7.0.4/#agile/1.0/board-getAllBoards) BoardListOptions.BoardType should be mapped to type, now it's boardType.

Because of this, filtering boards based on type does not work.

Shall I create a PR?

[2019-05-10 14:55] ghostsquad commented on #213
PR's always welcome! When creating your PR the minimum expectations are:

* Backwards Compatibility is maintained
* Tests - Both positive and negative
* Commit Message - Follows this standard: https://chris.beams.io/posts/git-commit/

[2019-05-12 08:59] #213 closed

[2019-05-22 21:53] ghostsquad commented on #210
If the response above does not answer your question, please feel free to reopen this issue or file a new one. Thanks!

[2019-05-22 21:53] #210 closed

[2019-05-22 21:55] #174 closed

[2019-05-25 07:00] andygrunwald opened #217 "Mentioning in the Golang Weekly Newsletter"
Hey folks,

this morning I found out that this project has been mentioned in the Golang Weekly Newsletter. See https://golangweekly.com/issues/263

This keeps us motivated. Thanks a lot to all of you who contributed to this project by code, by helping in issues, by filling issues, by spreading the word or by helping colleagues using this library.

Thank you for making this possible!

@bidesh @spma

[2019-05-25 07:33] andygrunwald commented on #217
Hey all,
check this issue out! This is for you!

@BattleBas @ishugupta92 @Hoid @robiball @davidkuridza @ikornienko @manute @francoishill @yanolab @wvell @AlbinOS @pmoncadaisla @dontrebootme @guilhermebr @bah2830 @antekresic @ifosch @dimfeld

[2019-05-28 01:04] ghostsquad commented on #217
Good times! Keep up the quality PRs!

[2019-07-08 13:15] yocally commented on #197
I'm having what looks like the same issue.
[code]

That code produces the following error:
[code]
with an http status of 400, so I get the feeling that I'm formatting the map incorrectly.

[2019-07-10 19:22] yocally commented on #197
I ended up just using `NewRawRequest` and it worked nicely.
[code]

Refer to [jira docs](https://docs.atlassian.com/software/jira/docs/api/REST/7.4.0/#api/2/issue-editIssue) for more info. It's not really an answer but it works for me, just posting in case somebody else was having trouble.

[2019-07-12 01:41] mhupman opened #220 "Add AccountId to GroupMember struct"
See v3 shape from https://developer.atlassian.com/cloud/jira/platform/rest/v3/?#api-rest-api-3-group-member-get:

[code]

[2019-07-12 18:17] andygrunwald commented on #220
Thank you @mhupman,
would you mind to create a PR for it?

[2019-07-12 19:11] mhupman commented on #220
Just did - opened this as a placeholder (or in case someone was really fast!)

[2019-07-13 03:44] #220 closed

[2019-08-05 09:51] sbuvaneshkumar opened #224 "Provide command line option to specify password"
Currently go-jira supports only username field for login.
[code]

It would be nice if it has -p, --password option as well to specify basic auth password.

[2019-08-05 15:05] andygrunwald commented on #224
Hey @sbuvaneshkumar
right now, go-jira is only a library. It doesn't have an own CLI.
Where do you get this output from?

[2019-08-05 17:58] sbuvaneshkumar commented on #224
@andygrunwald  ah!, it looks like I got confused with https://github.com/go-jira/jira.
Please feel free to close this issue :).

[2019-08-06 04:14] #224 closed

[2019-08-22 20:54] StevenACoffman opened #227 "Convert Jira (Atlassian WikiMarkUp) to Github Markdown?"
So I'm just checking to see if you would be interested in a contribution. I wrote in pure golang a conversion from Jira's Markup to Github Markdown. It is not a formal Parsing Expression Grammar, but it does a pretty good job. It turns out that I can actually do the reverse pretty well too (github markdown to jira), not that I actually need that capability.

Would that be a useful capability for t

[2019-08-23 16:20] andygrunwald commented on #227
Thanks for your request @StevenACoffman.
I think it is out of the scope of this library. If your transformer is using go-jira under the hood, I would be happy to include your repo in the readme as a potential use-case.

[2019-08-24 21:01] StevenACoffman commented on #227
Thanks, I spun it into a library for others here: https://github.com/StevenACoffman/j2m

As such it has no dependencies on go-jira, but it can be easily added to go-jira. For instance, I automate making github pull requests populated with jira's issue description in the pull request description. Thanks again for making cool stuff!

[2019-08-24 21:01] #227 closed

[2019-08-25 09:09] andygrunwald commented on #227
Good work, Steven!
Thanks for letting us know.

[2019-08-28 13:15] wvell commented on #197
I think the problem is that you are mixing string and object. @carljthompson your example will result in the following json:
`{"update":"{ \"update\": { \"labels\": [ { \"add\": \"cjt_test_label\" } ] } }"}`
see: https://play.golang.org/p/DW2LpYFulfL

The proper way is to use objects see https://play.golang.org/p/Ps4nPLHFtrH this will produce the following json:
`{"update":{"duedate":[{"set":"2019

[2019-09-16 10:47] wlmost commented on #191
Sorry for the delay.
This is the error which i get
`
{"errorMessages":[],"errors":{"watches":"Field 'watches' cannot be set. It is not on the appropriate screen, or unknown."}}
`

[2019-10-07 20:33] nealajpatel commented on #191
Also running into this issue :(

[2019-10-15 16:43] benjivesterby opened #233 "New Tag for Release"
Can we get a new release tag?

[2019-10-16 02:50] ghostsquad commented on #233
Ya, this is definitely overdue. I'll get this done tonight or tomorrow.

[2019-10-16 14:48] andygrunwald commented on #233
Thanks for taking care, @ghostsquad. Highly appreciated.

[2019-10-17 03:21] ghostsquad commented on #233
Done!

[2019-10-17 03:21] #233 closed

[2019-10-17 18:09] andygrunwald commented on #191
Sadly, I don't have the time to look into it right now.
Until this is fixed in the library, have a look at https://community.atlassian.com/t5/Answers-Developer-Questions/Please-Help-Got-error-400-when-trying-to-add-watcher-using-REST/qaq-p/567259

There is a curl request that seems to work.
This can be combined then with https://github.com/andygrunwald/go-jira#call-a-not-implemented-api-endpoint

[2019-10-23 20:13] hkyeakley opened #235 "bad file descriptor"
Hello,

I have installed go jira in my home directory on one of my admin systems.

The home directory is NFS mounted from an Isilon storage appliance.

If I try to use go jira from my NFS mounted home directory, I get this.

[my_username@linux_box ~]$ jira ls
usage: jira list [\<flags\>]
alias: jira ls [\<flags\>]

Prints list of issues for given search criteria

Global flags:
      --help

[2019-10-23 23:08] ghostsquad commented on #235
@hkyeakley I think you might be confusing this repo for this:
https://github.com/go-jira/jira

andygrunwald/go-jira is actually just a library, not a CLI

[2019-10-24 02:47] hkyeakley commented on #235
DOH!

Thank you for the clarification.

I will take the issue to the correct place.

Thank you.

[2019-10-24 02:47] #235 closed

[2019-10-25 19:53] SeanTurner026 opened #236 "Help with Issue.UpdateIssue function"
Hi,

Bear with me please as this is my first golang project. I have plans to make this more syntactically go in the future, but for now I'm just trying to get something that works and go from there.

I'm trying to write a simple cli application that takes the number in a jira ticket as a flag, and updates the associated ticket as `Done`.

I'm running into an issue with my `payload` specifically wi

[2019-10-25 20:03] ghostsquad commented on #236
Right, so the error says it all. `Resolution` field is not a string. It's a `*jira.Resolution` type. Here's the type that you need to use.

https://github.com/andygrunwald/go-jira/blob/37f2d5b7594981def803aab0a8f21516afa13f92/resolution.go

Also note, that it's a pointer, so the code might look something like this:

[code]

Assuming that the resolutions don't change often, it's probably safe to ge

[2019-10-25 20:37] SeanTurner026 commented on #236
Thank you very much for the feedback, it was helpful.

Inside of my `main()`, I now have the following:

[code]

And I'm getting an error which states `'transition' identifier must be an integer: Request failed. Please analyze the request body for more details. Status code: 400`.

I know I'm still doing something wrong because the ID is supposed to be a string while the error is calling for an int

[2019-10-25 23:52] ghostsquad commented on #236
notice how the transition payload struct has multiple fields:
https://github.com/andygrunwald/go-jira/blob/master/issue.go#L313

type CreateTransitionPayload struct {
	Transition TransitionPayload       `json:"transition" structs:"transition"`
	Fields     TransitionPayloadFields `json:"fields" structs:"fields"`
}

You aren't providing the `Transition` object.

https://github.com/andygrunwald/go-ji

[2019-10-26 12:30] SeanTurner026 commented on #236
Thank you very very for the help. I was able to sort myself out using the below:

If this transition number `31` isn't consistent across tickets I'll be back to the drawing board.

[code]

One last question, would it be helpful if `DoTransition()` had different logic where it checks to see what available statuses are (e.g. `TO DO`, `DONE`), and in turn takes a status string as an input instead of

[2019-10-26 16:07] ghostsquad commented on #236
The reason it takes a number instead of a status is because of how the Jira API and underlying system works. It's not a declarative system, such as ” please make this ticket DONE, by whatever means”, it's more like, "please execute this transition" which will put it in done.

Note that JIRA workflows are very powerful, and it may be the case that not all statuses are available from any given state

[2019-10-26 19:26] #236 closed

[2019-10-29 01:47] peterecho opened #237 "How to get comments on an issue?"
I see that there are structs for Comments and Comment, but how do I actually get the list of comments from an issue?

[2019-10-31 05:36] ghostsquad commented on #237
does `myissue.Comments` not work? https://github.com/andygrunwald/go-jira/blob/master/issue.go#L130

[2019-10-31 05:40] ghostsquad commented on #191
Think of the same flow you would have to do through the UI. You usually can't add watchers during issue creation unless it's part of the "Create" screen (which I'm honestly not sure is possible, as I've never personally seen it).

So, the answer would be to create the issue then add watchers.

@wlmost I don't believe that what you are asking for is an issue with this library, but rather a limitati

[2019-10-31 05:40] #191 closed

[2019-11-04 02:05] lesterpang opened #238 "bug: version struct description tag incorrectly references "name""
![image](https://user-images.githubusercontent.com/3345912/68096260-93623500-feea-11e9-9359-f8ac4fae3632.png)

[2019-11-04 02:49] ghostsquad commented on #238
Nice find. Could you submit a PR?

[2019-11-05 02:51] ghostsquad opened #240 "question: what does the `structs` tag do?"
@andygrunwald , what does the `structs` tag do on the Structs in this repo? It's not one of the well known tags I'm familiar with (https://github.com/golang/go/wiki/Well-known-struct-tags).

Followup question, how would one write tests to make sure these tags are correct?

Example from #239

![image](https://user-images.githubusercontent.com/903488/68174935-6d618280-ff34-11e9-87a3-6fb65284e060.png

[2019-11-05 14:52] peterecho commented on #237
I think it's `myissue.Fields.Comments` and I don't believe so. I tried this:

[code]

but issue.Fields.Comments just returns nil, even for issues that have comments.

[2019-11-05 15:44] ghostsquad commented on #237
Have you tried `issue.Comments`?

[2019-11-05 16:23] peterecho commented on #237
yeah and here is the result: `.\main.go:314:19: issue.Comments undefined (type jira.Issue has no field or method Comments)`

[2019-11-05 18:42] ghostsquad commented on #237
oh I apologize. I misread. Let me look into this more.

[2019-11-05 23:11] ghostsquad commented on #237
according to the documentation, if you get a _specific_ JIRA issue, you should get back comments. This is not the case if you are getting a list of issues (say from a search).

https://docs.atlassian.com/software/jira/docs/api/REST/8.2.6/#api/2/issue-getIssue

How are you getting your issue? I was able to get comments with this code here:

[code]

[code]

[2019-11-06 00:37] peterecho commented on #237
Ahhh... I was getting a list of issues, the code you show works for me as well. Thanks!

[2019-11-06 00:37] #237 closed

[2019-11-06 12:39] lesterpang commented on #240
[code]

[code]

[2019-11-06 12:44] lesterpang commented on #240
### but this is right

[code]
[code]

[2019-11-06 16:17] ghostsquad commented on #240
@lesterpang what I don't understand is how `structs` tag is being used instead of the `json` tag. I expect the `json` tag to be used for marshaling json.

[2019-11-07 01:50] lesterpang commented on #240
@ghostsquad
#### github.com/andygrunwald/go-jira/issue.go
[code]
#### github.com/fatih/structs/structs.go
[code]

[2019-11-07 04:48] ghostsquad commented on #240
thanks @lesterpang !!

[2019-11-07 04:48] #240 closed

[2019-11-08 11:39] perolausson opened #241 "BasicAuthTransport - lack of information hiding"
Hi Andy, I noticed a difference in how the authentication has been handled between the go-gerrit and go-jira.

In the former, you only provide a struct with non-exported fields and only provide setters, but in the latter you use a struct with exported fields and no setters and obviously it is very open.

It would be nice if you could refactor go-jira to have the same solution as go-gerrit because

[2019-11-08 19:41] andygrunwald commented on #241
It sounds reasonable. Without having a look at the code yet, I assume this change would be a breaking change.
Considering this, the question of the value will appear. Is there any potential/practical risk here? E.g. leaking information?
A breaking change might disappoint users (yes, we can raise the major version number to indicate this).

That both libs (go-gerrit / go-jira) has different ways of

[2019-11-08 20:10] andygrunwald commented on #240
Thanks for helping out here!

[2019-11-09 07:15] ghostsquad commented on #241
General immutably, and write only secrets does seem like a good practice.
Though, I'm not entirely sure this is actually a security issue, since your
trust boundary should include your code and all the dependencies in your
app.

Cheers,
Wes

On Fri, Nov 8, 2019, 11:41 AM Andy Grunwald <notifications@github.com>
wrote:

[2019-11-12 12:47] prugala opened #242 "[BUG] AddWorklogRecord - error 400 Unrecognized field "locale""
Hello

I have a problem with using `AddWorklogRecord` method. All the time I get response 400:

Example code:
[code]

User struct has field `Locale`  and I think Jira API endpoint dosent expect this field for user.

**Jira: SAAS - hosted by Atlassian**

[2019-11-12 23:04] #242 closed

[2019-11-13 00:24] ghostsquad commented on #242
@prugala can you describe why you closed this issue in case someone else stumbles across it with a similar problem?

[2019-11-13 06:13] prugala commented on #242
@ghostsquad ye, my bad that I closed issue without response.

It was my bad, I created worklog with too much data example `Author, IssueID`. I should add only:
`Comment`, `Started`, `TimeSpentSeconds` / `TimeSpent`

[2019-12-04 16:55] lexfrei opened #245 "Can't get comments"
Hi!

Can't get comments with your lib. My PoC code, mostly form your examples and #237:

<details>

[code]

</details>

So, the output is `Comments is nil` for all issues.
But I can use `issues.Self` and get raw output via the link. All comments are present as expected.
Is this expected?
Lib version: master
Jira version: v8.4.2#804003-sha1:d21414f

[2019-12-07 23:41] ghostsquad commented on #245
I think this is a duplicate of #237

Specifically, this comment should help:
https://github.com/andygrunwald/go-jira/issues/237#issuecomment-550065420

[2019-12-07 23:41] #245 closed

[2019-12-07 23:45] ghostsquad commented on #241
@perolausson I'm going to close this issue, as it's stale. I'll keep this in mind for v2 enhancements though.

[2019-12-07 23:45] #241 closed

[2019-12-07 23:47] #238 closed

[2019-12-07 23:49] ghostsquad commented on #197
I'm closing this issue, but labeling it as a reminder for v2 ideas. I think error reporting could be improved.

[2019-12-07 23:49] #217 closed

[2019-12-07 23:51] ghostsquad commented on #178
This issue is stale. I'll be closing this in 14 days unless someone mentions it should remain open.

[2019-12-07 23:55] ghostsquad commented on #211
I definitely don't think that a panic is appropriate. @jiaohe Can you provide a code sample that reproduces this issue?

[2019-12-07 23:55] #203 closed

[2019-12-07 23:58] #189 closed

[2019-12-16 08:21] hdshah-dev commented on #200
Hello Andy,
I am using g0-jira client version 1.11.1. I am trying to see an option to change transition of an issue with a comment (as part of update). I do see DoTransitionWithPayload() method to allow a payload TransitionPayload (struct). However I dont see a way to set the comment in TransitionPayload struct or there is one to be used. Can you please confirm if this feature is yet to be impleme

[2019-12-16 16:37] ghostsquad opened #248 "Unable to add comment during transition"
On behalf of @hdshah-dev

I am using go-jira client version 1.11.1. I am trying to see an option to change the transition of an issue with a comment (as part of the update). I do see DoTransitionWithPayload() method to allow a payload TransitionPayload (struct). However I dont see a way to set the comment in TransitionPayload struct or there is one to be used. Can you please confirm if this featur

[2019-12-16 16:37] ghostsquad commented on #248
According to this:
https://docs.atlassian.com/software/jira/docs/api/REST/6.2.5/#d2e1171

This leaves me to believe that we probably shouldn't be used `TransitionFields` here:
https://github.com/andygrunwald/go-jira/blob/1946cac0fe6ee91f784e3dda3c12f3f30f7115b8/issue.go#L325

We should use `IssueFields`, as this would provide the greatest flexibility.

Howevever, This is a backwards incompatible c

[2019-12-16 16:38] ghostsquad commented on #200
@hdshah-dev I created #248 issue for you. As this is the wrong place to ask for support.

For clarification, I'll edit the topic of this issue as well.

[2019-12-17 06:24] hdshah-dev commented on #248
Hello,
Thank you for prompt reply on this and detailed info. I tried with my custom structure as below
[code]
However the _Update_ field gets changed to _Fields_ as  somewhere down the json encoder code path as below
[code]
Using cURL command I was able to transition the state with a comment that needs to be filled in the popup screen by having the payload below
{
	"transition": {
    		"id": "101

[2019-12-17 06:39] ghostsquad commented on #248
Can you provide the struct definition you are using?

[2019-12-17 06:51] hdshah-dev commented on #248
Nevermind, I was using the wrong tag for the struct. After changing it as below I was able to `DoTransitionWithPayload()` with a comment to add...Hallelujah!

[code]

[2019-12-17 17:27] ghostsquad commented on #248
Woo!

If you want to add this field to the existing TransitionPayload struct, we are accepting PRs! It would help others who may be running into the same problem.

For now though, I'll close this issue.

[2019-12-17 17:27] #248 closed

[2020-01-30 20:07] stefanmcshane commented on #178
[code]

Something along these lines work for me

[2020-01-30 23:53] #178 closed

[2020-01-31 12:49] jomach opened #250 "support jira v3 apis"
I'm getting
[code]

I think this is because this lib is not using v3 of the apis... Can someone check ? I'm trying to use jira service desk

Original issue: https://github.com/free/jiralert/issues/51

[2020-01-31 15:33] ghostsquad commented on #250
Please provide the minimal code to reproduce this issue.

[2020-02-03 06:38] jomach commented on #250
Ok, after some more looking it was wrong credentials. Maybe it would be great if the client could expose a method validate login instead of throwing this error.  A quick google search give us: https://community.atlassian.com/t5/Jira-Software-questions/REST-error-quot-The-value-XXX-does-not-exist-for-the-field/qaq-p/654730

[2020-02-03 06:38] #250 closed

[2020-02-05 13:11] pureugong commented on #52
@andygrunwald
Thx! I fixed the similar issue!

[2020-02-12 11:27] AGMETEOR opened #251 "How to get list of all labels from a project?"
Using `/rest/api/2/jql/autocompletedata/suggestions?fieldName=labels`

[2020-02-12 11:35] AGMETEOR commented on #251
I can work on this issue if this feature doesn't exist.

[2020-02-18 05:14] ghostsquad commented on #251
Not all API endpoints are implemented, but there are instructions on how to do this here:
https://github.com/andygrunwald/go-jira#call-a-not-implemented-api-endpoint

We also ❤️ PR's! You can take a look at some of the other PRs to get a sense of how to implement another API endpoint officially.

[2020-02-19 17:25] dhollinger opened #255 "UserKey and Usernames no longer accepted in JIRA API"
The API now only accepts the `accountId` parameter on API endpoints that previous accepted Usernames or UserKeys.

https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/

[2020-02-19 17:59] ghostsquad commented on #255
@dhollinger why was this immediately closed?

[2020-02-21 02:21] TheKevJames commented on #255
Potentially a mistake to immediately close this?

I'm noticing that as of a couple days ago all my `assignee` values seem to be set to null, which I would assume might be related (I was just about to open an issue when I came across this) eg:
[code]

[2020-02-21 03:25] ghostsquad commented on #255
@thekevjames are you reporting in the right repo? It looks like you might be looking for the go-jira/jira CLI which is not this project.

https://github.com/go-jira/jira

[2020-02-21 03:26] #255 closed

[2020-02-21 07:53] TheKevJames commented on #255
/facepalm Yes, yes I am. Interestingly, that project has a [recently opened PR for fixing the problem I described](https://github.com/go-jira/jira/pull/315) already so... yeah, I'll just show myself out.

Sorry for any confusion!

[2020-02-21 17:22] ghostsquad commented on #255
No worries! Thanks for stopping by. :beers:

[2020-02-23 13:48] AGMETEOR commented on #251
Thanks @ghostsquad . Let me get some time and work on getting this implemented.

[2020-02-27 13:22] clementlecorre opened #256 "IssueService.GetWatchers does not work"
Hello!

I have a problem with `GetWatchers`(https://godoc.org/github.com/andygrunwald/go-jira#IssueService.GetWatchers) method.

For some time now, I've been getting 404 errors. After analyzing the code and the problem I think that the key 'name' does not exist anymore in the Jira return payload.

My error message :
[code]

API query (with curl) : `/rest/api/2/issue/ISSUE-KEY/watchers`
[code]

Iss

[2020-03-01 11:56] 839588378 opened #257 "Request an example of creating a Jira event for a custom field"
I don't know how to use this unkonw field，please give an example of creating a Jira event for a custom field,Thanks!!

![12](https://user-images.githubusercontent.com/23494356/75625221-f644ae00-5bf6-11ea-949d-89f647524b8f.jpg)
![image](https://user-images.githubusercontent.com/23494356/75625249-386def80-5bf7-11ea-858c-eb6791e40837.png)

[2020-03-01 16:26] ghostsquad commented on #257
@839588378 see if this comment helps:

https://github.com/andygrunwald/go-jira/issues/178#issuecomment-478164887

[2020-03-03 22:02] RKTMN commented on #255
UserKey and Usernames no longer accepted by the JIRA API is still a problem for this project; is there any movement towards fixing the issue for this project? Certain functionality (creation of issues, etc) will continue to be broken in the meantime as I understand it

[2020-03-04 16:11] willis7 opened #258 "Search() triggers 400 Bad Request"
I've been debugging my app most of the day, but it appears all paths lead to this package. Below is the smallest block of code to reproduce the error. It appears that any method I try to use results in the same error.

Please tell me it's me :-)

[code]

[2020-03-05 14:06] evilnerd opened #260 "&maxResults=50 causes no issues to be returned on load-balanced environment"
When using the method ```SearchPages```, the GET query gets suffixed with ```&maxResults=50``` (by default). This works fine on my standalone Jira server, but not on our load-balanced datacenter edition (multi-node) in which case simply no issues are returned even though the query would normally return several issues.

I tracked the issue down to the ```Search``` method, where the ```&maxResults=5

[2020-03-05 14:10] evilnerd commented on #260
I have a fix but I'm trying to figure out how to push it here to create pull request.

[2020-03-05 19:51] RKTMN opened #262 "Support API for Getting Account ID for User given Key/Username"
I didn't find anything in this repo that implements JIRA's `GET /rest/api/3/user/bulk/migration` endpoint. This would help us retrieve AccountIDs for the users given their username, which is now needed for Issue creation, etc...

[2020-03-06 07:28] 839588378 commented on #257
我这样试就可以了
//下拉框单选
custome["customfield_10209"] = map[string]string{"value": assessment}

	i := jira.Issue{
		Fields: &jira.IssueFields{
			//经办人
			Assignee: &jira.User{
				Name: jira_user,
			},
			Description: utf8toASCII(description),
			//问题类型：应用漏洞
			Type: jira.IssueType{
				ID: "10300",
			},
			//项目
			Project: jira.Project{
				ID: "10308",
			},
			//概要
			Summary: utf8toASCII(summary),

[2020-03-07 23:30] ghostsquad commented on #256
hmm, the error doesn't represent a missing field. That error means that response is not valid json.

It's possible you are getting a different response from the library than you are from curl. 404's are sometimes returned instead of a 401, and the body of the response in that case could be HTML.

Can you make other requests successfully from the library?

[2020-03-08 22:00] clementlecorre commented on #256
I did my test with curl and the lib go-jira.

`GetWatchers()` consists of two queries.

1. The first one is the rest/api/2/issue/%s/watchers which returns a payload with a missing field (username).
2. The second one I get a 404 error because the username field is missing.

I'm using the cloud jira version.

[2020-03-09 15:41] ghostsquad commented on #258
Have you tried using the already implemented method to search?

https://github.com/andygrunwald/go-jira/blob/1946cac0fe6ee91f784e3dda3c12f3f30f7115b8/issue.go#L957

[2020-03-09 15:47] willis7 commented on #258
Yes, in fact, I only just noticed that I forgot to change the title of this issue. That was the original source of the question, but it was hard to share my example. I then realised all of the API calls were failing for me and the above snippet was the smallest block of code to share.

To further investigate I created my own api client and that worked with the same JQL and credentials.

[2020-03-09 16:36] ghostsquad commented on #258
@willis7 it looks like search calls this:

[code]

But your example uses raw request, and the last parameter of RawRequest is actually the body reader, which only allows `nil` because it's an interface, unlike this method, where the last parameter is the body itself, which it's valid not to provide.

Can you try using `NewRequest`?

[2020-03-11 17:25] dhollinger commented on #255
@ghostsquad wrong repo. I wasn't paying attention and opened the issue here instead of at the go-jira/jira CLI tool repo-

[2020-03-11 17:39] ghostsquad commented on #255
@RKTMN #259 addresses this

[2020-03-11 19:58] ghostsquad commented on #256
#259 introduces a new method to support the `AccountId`. This might fix your issue?

[2020-03-11 21:08] willis7 commented on #258
Apologies for the delayed response. I have just tried this again (using the minimum viable code above) and I'm no longer having any problems. It's very bizarre.

I shall keep digging but for now, I will close and non-repeatable.

[2020-03-11 21:08] #258 closed

[2020-03-12 09:20] clementlecorre commented on #256
Yes! Thanks :)

[2020-03-12 09:20] #256 closed

[2020-03-18 15:04] #260 closed

[2020-03-23 22:35] feorlen opened #265 "How does IssueType work when creating a new issue?"
I have some existing code to create new issues, but I'm only able to use a small number of IssueType name values, such as "Story", "Task", or "Bug". Is there a list of standard ones and others need to be handled in a different way? When I try others, for example "New Feature", I get "The issue type selected is invalid."

I could understand if custom ones we created might have some special process.

[2020-03-24 11:04] sha4ever23 opened #266 "UpdateIssue fails with 400 error code"
I am facing problem with updating an issue (to modify a custom field). Please find below the code snippet,

jiraIssue, resp, err := client.Issue.Get(jiraID, nil)

jiraIssue.Fields.Unknowns.Set("customfield_11206", "first update")

              var updopt jira.UpdateQueryOptions
              updopt.OverrideScreenSecurity = true
              updopt.OverrideEditableFlag = true
              _,_ ,

[2020-03-24 20:36] ghostsquad commented on #266
@sha4ever23 thanks for reporting this. There are other issues regarding custom fields. In particular, this comment might help you:

https://github.com/andygrunwald/go-jira/issues/178?ts=4#issuecomment-478167463

Please make sure to browse through existing issues prior to reporting new ones if possible. Though, it's clear that custom fields is a pain point for this library.

[2020-03-26 04:45] sha4ever23 commented on #266
Thank you for the response. I tried as below, now I get 405 error.

                new_cf := tcontainer.NewMarshalMap()
                new_cf["customfield_11206"] = "newVal"

                issue := jira.Issue{
                        Fields: &jira.IssueFields{
                                Unknowns: new_cf,
                        },
                }

                _, _, err = client.Issu

[2020-03-26 05:06] sha4ever23 commented on #266
Thank you for the response. I tried as below and I got 405 error

                new_cf := tcontainer.NewMarshalMap()
                new_cf["customfield_11206"] = "newVal"

                issue := jira.Issue{
                        ID: jiraID,
                        Fields: &jira.IssueFields{
                                Unknowns: new_cf,
                        },
                }

[2020-03-26 06:11] sha4ever23 commented on #266
I found my mistake. I set the Key instead of ID and now its working.

[2020-03-26 06:11] #266 closed

[2020-03-26 16:04] feorlen commented on #265
I may have found my problem. I have the list of default feature types for my installation, but owners of some projects have removed various types for their project. So even if it's a default type globally, the one you want to specify also has to exist _for that specific project_.

[2020-03-26 22:03] ghostsquad commented on #265
this is definitely a question for your Jira administrator, but it looks like you are on the right path.

[2020-03-26 22:03] #265 closed

[2020-03-31 19:28] kfoxb opened #267 "Inconsistent time fields"
I've noticed that there are some fields on some of the types, in particular the Comment struct, that are strings instead of a jira.Time. Is there a reason for this? It would be a breaking change, but would you be open to a pull request to change these fields to be jira.Time instead?

[2020-04-07 20:41] brennantaylor opened #269 "brew formula out of date: go-jira 1.0.23"
Looks like lots of good work has been done since 1.0.23. Just letting you know it seems the brew formula is out of date.

[2020-04-07 20:48] brennantaylor commented on #269
whoops I confused this with the older netflix go-jira and https://github.com/go-jira/jira

[2020-04-07 20:48] #269 closed

[2020-04-14 05:04] amossc opened #272 "Field "username" was removed from /user/search by Atlassian"
When trying to query a user by email address, the code in https://github.com/andygrunwald/go-jira/blob/master/user.go#L212 tries to query by field `username`, but Atlassian apparently has removed that field as part of their GDPR compliance support.

e.g. see the Q&A in https://community.atlassian.com/t5/Jira-questions/The-query-parameter-username-is-not-supported-in-GDPR-strict/qaq-p/1345106 refer

[2020-04-14 17:14] ghostsquad commented on #272
ya, this looks related to some of the changes in #259

We accept PRs!

[2020-04-14 17:19] ghostsquad commented on #201
@andygrunwald I think we should look for another maintainer of this, and possibly move the repo to an organization. I haven't been doing much in Jira in the last 6 months or so, and as a result, I don't have a lot of incentive to fix any ongoing issues, or move forward with the v2 rework in order to support some backwards incompatible changes.

I've been at least responding to issues, and approvin

[2020-04-14 18:53] andygrunwald commented on #201
Sounds reasonable, @ghostsquad.
Thanks a lot for your efforts.

As you might have seen, this is nearly the same situation where I am in.
Do you have any idea/recommendation on how or where to look for a new maintainer?
Or maybe even two? The number of issues and PRs are not getting less.

I am open to every suggestion:
- Shout out via twitter?
- Asking if we can get a spot at https://golangweekly.

[2020-04-15 00:32] ghostsquad commented on #201
All of the above!

Regarding requirements, I think generally speaking, the contribution guidelines should be updated and strictly enforced. I made a PR template which I think should also be enforced. I think a maintainer who knows how to keep changes backwards compatible, and knows how to test, BDD, Unit, Acceptance, that sort of thing would be most useful.

I don't necessarily plan on leaving, so

[2020-04-16 08:49] younglifestyle opened #273 "[bug] jira.SearchOptions {MaxResults: 100}, but it does not work, it still returns 50 by default"
this problem appeared after commit 19d3fc0...， this problem occurred when I used the latest code. It should be a bug, not a feature.

[2020-04-19 07:31] andygrunwald commented on #201
Can we (maybe) leverage GitHub actions to automate parts of it?

Sure. Maybe we can also get a call together and talk about how we organize it, what we can do to make it easier to contribute or make this API more stable and how to deal/move forward with breaking changes that make sense (e.g.. lifecycle of future versions).

Another idea might also to get in contact with Atlassian to get a JIRA ins

[2020-04-19 19:01] ghostsquad commented on #201
I wonder if maybe Atlassian would be interested in officially supporting or sponsoring this framework.

I'm US West (UTC - 7)

GitHub actions sounds good.

I'm not going to say no to you getting more active. :wink: The library is already pretty stable as is, and it's getting use, which I think is great, which is why people are contributing PRs for new features and bug fixes.

I think we could also

[2020-04-20 06:54] DylanGraham commented on #116
Would you mind keeping basic auth?
It's still useful for Jira Server users who cannot create API tokens without a paid plugin: https://marketplace.atlassian.com/apps/1221182/api-tokens-for-jira?hosting=server&tab=overview
Thanks

[2020-04-21 16:54] pz512 opened #275 "Unknown issue type encountered: option-with-child for"
I use InitIssueWithMetaAndFields create , but "Unknown issue type encountered: option-with-child for"， not support option-with-child type，

"customfield_11712":{
            "allowedValues":Array[8],
            "hasDefaultValue":false,
            "name":"分类 & 子分类",
            "operations":[
                "set"
            ],
            "required":true,
            "schema":{

[2020-04-29 06:59] bored-engineer commented on #267
Another option (avoiding a breaking change) would be to at least implement helper methods similar to `ChangelogHistory.CreatedTime`.

[2020-04-29 09:58] andygrunwald opened #284 "Product naming consistency: JIRA vs. Jira"
The product is named `Jira`.

In our library, we write Jira in multiple ways. Sometimes JIRA, sometimes Jira.
Should we unify and make it more consistent and align this with the official project?

This would indicate naming the product everywhere `Jira`.

What do you think?

[2020-04-29 17:26] ghostsquad commented on #284
I did a quick search, and Atlassian seems to consistently use `Jira`, though others I see use `JIRA`. I think we should stick with following the creators/owners.

[2020-04-30 15:27] isobelormiston opened #285 "Include new 'External Description' issue field"
It'd be great if an Issue object included the `External Description` field which appears for bugs in Jira, as well as the `Description` field.

[2020-05-02 07:32] andygrunwald commented on #285
Hey @isobelormiston, do you have a link to the docs?

And maybe a piece of sample code to reproduce this / on how to use this?

[2020-05-02 07:33] andygrunwald commented on #275
Hey @pz512,

do you have a piece of sample code that we can reproduce this issue?

[2020-05-02 07:33] andygrunwald commented on #273
Hey @younglifestyle,

do you have a piece of sample code that we can reproduce this issue?

[2020-05-02 07:48] andygrunwald commented on #251
Hey @AGMETEOR,
have you been successful?

[2020-05-02 07:54] andygrunwald commented on #140
This project focus on being a library to implement into other projects.
We don't aim to provide a CLI.

If you are looking for a Jira CLI, check out https://github.com/go-jira/jira.

If you are looking for a Jira Terraform provider, check out these:
- https://github.com/fourplusone/terraform-provider-jira
- https://github.com/anubhavmishra/terraform-provider-jira

Thanks for the request, but this

[2020-05-02 07:54] #140 closed

[2020-05-02 09:20] andygrunwald commented on #211
No activity for>60 days.
@jiaohe Please let us know if you have more information on this. We will re-open this issue.

[2020-05-02 09:21] andygrunwald commented on #257
@839588378 Would you mind adding a PR with updating the docs on this? This would be helpful for a lot of people.

[2020-05-02 21:23] andygrunwald commented on #267
@kfoxb The reason might be that jira.Time was introduced later and not fully adjusted to all types.
Indeed, this would be a breaking change. And maybe it is time for a breaking change + v2. We have more and more such changes.

Would you be open to prepare such a PR to make it consistent across the library?

[2020-05-02 21:26] andygrunwald commented on #262
Indeed. This endpoint is not available at the moment.
Would you be able to create a Pull Request and implement his endpoint?

In the meantime, you can use [Call a not implemented API endpoint](https://github.com/andygrunwald/go-jira#call-a-not-implemented-api-endpoint).

[2020-05-02 21:34] andygrunwald opened #290 "Support of Go versions"
## Is your feature request related to a problem? Please describe.

Right now go-jira supports go v1.9. - go v1.14

## Describe the solution you'd like

Go's [Release Policy](https://golang.org/doc/devel/release.html#policy) only support the current version + the last two versions.

Question: Should we follow the same?

## Additional context

Right now, I am not aware of any breaking change from th

[2020-05-02 22:18] ghostsquad commented on #290
I think it makes sense to support a limited subset. It keeps us moving forward, and saves time when it comes to trying to figure out a "backwards compatible" way to do something.

[2020-05-03 07:21] andygrunwald commented on #200
/unstale.

Maybe it is time to think about a v2 more actively.
Maybe we should check all open PRs, tagging the latest state and open master for v2 + breaking changes?

[2020-05-03 07:26] timwata opened #291 "[bug] IssueService.Search() with a not empty JQL triggers 400 bad request"
## Describe the bug

When using the method `IssueService.Search()` with a not empty JQL, it triggers 400 bad request even if the JQL is correct.

## To Reproduce

Use `IssueService.Search()` with a not empty JQL.

## Expected behavior

No trigger 400 bad request if JQL is correct.

## Possible Solution

The root cause is the JQL gets escaped twice.
First one is `uv.Add("jql", url.QueryEscape(jql))

[2020-05-03 07:28] andygrunwald commented on #291
Thanks @timwata.
Yesterday, we merged https://github.com/andygrunwald/go-jira/pull/268.
Maybe this is the cause.

//cc @kfoxb

[2020-05-03 07:53] andygrunwald commented on #291
I am working on a fix already. Gimme some time.

[2020-05-03 08:06] andygrunwald commented on #291
Fixed in #292

Thanks @timwata

[2020-05-03 08:06] #291 closed

[2020-05-03 12:01] suhaibmujahid opened #294 "Remove the WithOptions suffixes"
## Is your feature request related to a problem? Please describe.

Many methods have the suffix `WithOptions` e.g., `GetCreateMetaWithOptionsWithContext`.

## Describe the solution you'd like

The name could be replaced with simply `GetCreateMeta` and chick if the `options` is `nil` will use the default options. I think this approach also used in `google/go-github`.

[2020-05-03 14:09] andygrunwald opened #295 "Which Jira product are we supporting?"
## Is your feature request related to a problem?

Jira is available in two different product versions:

- [Jira cloud](https://developer.atlassian.com/cloud/jira/platform/)
- [Jira server](https://developer.atlassian.com/server/jira/platform/rest-apis/)

This project was initially started + used with an on-premise Jira installation (Jira server).
Over time more and more Jira cloud API endpoints la

[2020-05-03 14:29] andygrunwald commented on #200
Thanks, @ghostsquad for kicking this off. Valuable to exchange about the plans for v2.
I agree with your current list you have put together. Those are important parts that should add value to this library.

I would like to extend the discussion on this issue and discuss pieces next to breaking changes:

### Being more explicit

We should state what we are officially supporting when it comes to Jir

[2020-05-03 14:38] andygrunwald commented on #179
/unstale

I agree with everything that was said here.
If someone wants to pick this up, happy to accept PRs.

[2020-05-03 14:40] andygrunwald commented on #55
After some time, I am against my own comment from 2017.
Pagination should be handled more explicitly.

Happy to accept PRs in this direction.

[2020-05-04 05:46] ghostsquad commented on #294
Really for v2 we should start using the functional options API approach

https://dave.cheney.net/2014/10/17/functional-options-for-friendly-apis

[2020-05-04 21:37] suhaibmujahid commented on #294
In the context of the article, the author examples expose the options as functions. In our context, I think `struct` is a better fit. The official MongoDB driver is a good example of this pattern [mongodb/mongo-go-driver](https://github.com/mongodb/mongo-go-driver). However, our use case is simpler.

[2020-05-04 22:04] ghostsquad commented on #294
@suhaibmujahid the functions _take_ a struct as it's only parameter, so it's _like_ passing in a struct, except you can differentiate between the zero-value of a field and whether or not the user passed it in.

The library can define "pre-baked" options, but the client can make their own and/or just pass in an anonymous function.

https://www.sohamkamani.com/golang/options-pattern/

[2020-05-04 23:54] suhaibmujahid commented on #294
Thank you @ghostsquad for sharing the resources. I like this pattern, and it solve a use case for me and I will adopt it in my code.

But still I am not sure if it is an over fit for go-jira.

[2020-05-05 13:38] isobelormiston commented on #285
Hi @andygrunwald , thanks for getting back.

For example, this JIRA issue has an External Description field:
https://smartsocietyservices.atlassian.net/browse/OC-129

At the moment, if we use `go-jira` to Get an issue (with `<Jira Client>.Issue.Get()`), we can see fields of the issue like e.g. `issue.Fields.Type.Name`, but to get hold of the 'External Description' at the moment it is a custom fiel

[2020-05-05 17:37] ghostsquad commented on #294
@suhaibmujahid I'll need a bit more on why you are saying it's not a good fit. Some example code would be great. In an effort though to continue this conversation, here are some concrete examples from me, and further explanation.

Here's the current implemention of the function we are discussing

[code]

and here's GetQueryOptions struct

[code]

Right off the bat, we are faced with "boolean" opti

[2020-05-05 18:12] suhaibmujahid commented on #294
Thank you @ghostsquad for the nice discussion. I'm convinced by the cases that you showed.

What I was thinking about, why I should write functions if I can just pass a struct (You answered that). Since we have cases such as having `true` as the default value, it makes sense to use this pattern.

I like about this pattern that merging multiple options happens out of the box without any extra compl

[2020-05-05 23:58] grantholly commented on #178
What is t (`t.CustomFields`) is the above example?

[2020-05-06 06:04] andygrunwald commented on #178
@grantholly `t. CustomFields` should be https://github.com/andygrunwald/go-jira/blob/ef6d633ae18b202f9fcec03f5dd13eb806d779dd/issue.go#L552

[2020-05-06 16:10] stefanmcshane commented on #178
Apologies - this is from a struct I had written and pulled out of.

We have had success using map[string]string, and tcontainer.NewMarshalMap(), which is used inside the jira library itself.

https://github.com/andygrunwald/go-jira/blob/ef6d633ae18b202f9fcec03f5dd13eb806d779dd/issue.go#L20

[2020-05-06 16:17] grantholly commented on #178
Here's what I ended up using that worked.
[code]

[2020-05-07 07:00] andygrunwald commented on #285
Hey @isobelormiston,
is this external description of a standard field of Jira? I was not able to find this in the official docs.

[2020-05-08 14:10] pz512 commented on #275
thanks, I reslove
I modify "issue.go" code, and add this
case "option-with-child":
			issueFields.Unknowns[jiraKey] = Option{
				Value: value,
}

[2020-05-08 14:10] #275 closed

[2020-05-09 07:21] andygrunwald commented on #295
@rbriski @ghostsquad @suhaibmujahid Any opinions here?

[2020-05-09 07:58] younglifestyle commented on #273
`
jql := fmt.Sprintf("project = \"%s\"", projectName)
		options := &jira.SearchOptions{MaxResults: 1000}
		issues, _, err := client.Issue.Search(jql, options)
		if err != nil {
			fmt.Printf("search %s project error %v", projectName, err)
			continue
		}
`

[2020-05-09 08:09] andygrunwald commented on #294
Nice discussion. And thanks for the education on this pattern. I was not aware of this. However, I really like the approach.

Implementation wise this would lead to a lot of code to write. Especially when providing pre-defined functions. We might think about taking a generating approach to do the first heavy lifting. What do you think?

An alternative: Adding functions in an iterative approach. E.

[2020-05-09 19:13] ghostsquad commented on #294
@andygrunwald actually there's not a lot of work here at all. Here's how we would do it:

[code]

As you suggested, we don't need to define any "pre-baked" option functions for the end-user on the first pass, unless we already know of a common use case.

[2020-05-10 05:07] ghostsquad commented on #295
I think we should support them all, but like other projects, stop supporting old versions. Though in general, this is a bit hard to do properly, since we would likely need a variety of API versions to test against, both cloud and server. @andygrunwald have you reached out to Atlassian about this? Maybe they would sponsor this project and provide us with testing endpoints.

[2020-05-10 05:32] suhaibmujahid commented on #295
In my case, my application interacts with both of the Jira Server and Jira Cloud. To my knowledge, both have almost the same API ([see here](https://community.atlassian.com/t5/Jira-questions/Difference-between-Jira-Cloud-REST-API-and-Server-REST-API/qaq-p/658434)). They differ mainly in the authentication, which is out of the scope of this package.

Form a usability point of view, a wild mix could

[2020-05-11 17:08] mansilladev commented on #295
If you're truly looking to support both cloud and server, I suggest making the separation/choice explicit. They're diverging in more ways than just auth. For example, Jira expressions (https://developer.atlassian.com/cloud/jira/platform/jira-expressions/) on the cloud side.. amongst other nuances that could get conflated and confusing as they may continue to diverge.

[2020-05-11 19:08] ghostsquad commented on #295
I agree. This may come at the cost of duplicating some code. Even their documentation is split depending on cloud vs server.

https://developer.atlassian.com/server/jira/platform/rest-apis/

https://developer.atlassian.com/cloud/jira/platform/rest/v3/

In v2 we probably should have cloud/server packages, that potentially call to common code elsewhere, just so that we can support both, but also all

[2020-05-11 19:09] ghostsquad commented on #295
I'm concerned at our ability to test either though. We don't have a public server that we can run end2end tests against

[2020-05-12 10:37] beorereleverion opened #296 "Jira 8"
Hello, can't use your great lib without any changes with jira 8 version

## Describe the solution you'd like

Jira 8 support

## Additional context

Do you plan Jira 8 support in nearest future?

[2020-05-12 13:49] ghostsquad commented on #296
@beorereleverion can you explain what about Jira 8 is unsupported?

[2020-05-13 14:26] beorereleverion commented on #296
i'm sorry i think that differnce between api v2 and v3 in worklogrecords.
i obviously have different struct to lib in my jira, something like:
type WorklogRecord struct {
	Self                  string           `json:"self,omitempty" structs:"self,omitempty"`
	Worker                string           `json:"worker,omitempty" structs:"worker,omitempty"`
	Author                *User            `json:"

[2020-05-15 14:09] isobelormiston commented on #285
It may not be a standard field actually, sorry - thanks all the same

[2020-05-15 14:09] #285 closed

[2020-05-16 08:28] #296 closed

[2020-05-16 08:35] andygrunwald commented on #295
@ghostsquad
I have reached out to Atlassian about getting an instance sponsored. Seems that this is not possible at the moment. @mansilladev Can you confirm this? Do you see an opportunity to help us here?
This would make the development + testing easier.

[2020-05-19 17:28] perolo commented on #267
I have a more general question regarding how to use/access/cast of the Time data?
https://stackoverflow.com/questions/61897115/fail-to-access-cast-time-time

[2020-05-19 21:35] perolo commented on #267
I was so sure that I tested and failed with:
resDate=time.Time(issue.Fields.Resolutiondate)
But that solves my problem
....

[2020-05-22 14:53] cynthiabaran commented on #272
Should this issue be closed now?

[2020-05-22 16:50] #272 closed

[2020-05-28 07:37] timwata opened #299 "SearchOptions {MaxResults: 0} doesn't work"
## Describe the bug

`SearchOptions{ MaxResults:0 }` doesn't work. The API actually allows it and it's useful to get just the metadata.

## Expected behavior

No `Issue` returned if queried with `SearchOptions{ MaxResults:0 }`

[code]

## Possible Solution

Remove `omitempty` from `MaxResults`

https://github.com/andygrunwald/go-jira/blob/f50cb07b297d79138b13e5ab49ea33965d32f5c1/issue.go#L500-L510

[2020-05-28 15:19] ghostsquad commented on #299
another example of why using structs for options doesn't work. related to #294 and #200

I think it's valid to remove "omitEmpty". It seems that is it's set to 0, it gets reset to 50 anyways.

[2020-05-28 15:29] ghostsquad commented on #299
Though _just_ removing `omitEmpty` won't fix this problem. Currently, it doesn't seem like we have a way to set a default other than the "zero value" for the integer (0).

[2020-05-28 15:30] ghostsquad commented on #299
@andygrunwald prior to version 2.0, I think I can just start implementing "Functional Options" variants of all methods, and I'll mark the old methods as deprecated.

[2020-05-28 15:33] ghostsquad commented on #299
@andygrunwald prior to version 2.0, I think we can just start implementing "Functional Options" variants of all methods, and mark the old methods as deprecated.

[2020-05-28 19:25] ghostsquad commented on #200
@andygrunwald just wanted to let you know that I've decided to start on the V2 rewrite!

I'm going to use the `v2` subfolder method that's recommended by Golang (https://blog.golang.org/v2-go-modules)

Stay tuned for a PR!

[2020-05-30 08:49] andygrunwald commented on #200
@ghostsquad Sounds super nice! Let me know how I can help (or review something). Feel free to push early ideas as a PR and mark it as a draft.

[2020-05-30 08:50] andygrunwald commented on #299
@ghostsquad Could be an idea. Or we just start with v2 and see if we can skip adjusting v1.

[2020-05-30 20:35] ghostsquad commented on #200
@andygrunwald _VERY EARLY_ draft PR has been made. I literally just did `git add` of the files that I've been working on... nothing works, does not compile, no tests... still in the exploration/discovery phases... see #300

[2020-06-04 14:45] kopytovs opened #301 "[bug] Jira Server user search API triggers 404 error with accountID"
## Describe the bug

Current Jira Server API has user search method which unavailable after
https://github.com/andygrunwald/go-jira/commit/f50cb07b297d79138b13e5ab49ea33965d32f5c1

## To Reproduce

1. Use Jira Server API
2. Try to search user with accoundID `user, _, error := client.User.Get(accountID)`
3. Catch error `Either the 'username' or the 'key' query parameters need to be provided: reques

[2020-06-04 17:14] ghostsquad commented on #301
We are currently working on V2 which will have better compatibility between server and cloud versions.

For reference though, what version of server are you running?

[2020-06-04 18:24] kopytovs commented on #301
@ghostsquad 👍

[2020-06-04 18:26] ghostsquad commented on #301
In the mean time, if you have some ideas on how to fix this issue, we happily accept PRs!

[2020-06-04 18:31] ghostsquad commented on #301
I think the solution is to implement a new method like `GetByUsername`, which would have the old code prior to the "bugfix" which apparently only fixed cloud versions, but broke server versions.

[2020-06-10 18:03] fdcds opened #302 "Pagination support for GetIssuesForSprint"
## Describe the bug

`GetIssuesForSprint` returns only the first 50 issues of a sprint.

## To Reproduce

1. Fill a sprint with more than 50 issues
2. Call `GetIssuesForSprint` on it
3. Find that only the first 50 issues are in the result

## Expected behavior

`GetIssuesForSprint` should have an `Options` parameter to `StartAt` the 2nd page, like #55 describes.

## Possible Solution

Add an `Opti

[2020-06-11 08:03] fdcds commented on #55
With `GetIssuesForSprint` I ran into the issue that I do not see a way to specify `StartAt` (#302).

[2020-06-19 11:14] andygrunwald commented on #201
I think we are done here so far.

[2020-06-19 11:14] #201 closed

[2020-06-24 20:37] lahire opened #304 "Add Comment (sometimes) does not add comment and returns 200"
Is really a 200 a valid response to add a comment, when the Jira Documentation states that the valid response is a 201?

https://developer.atlassian.com/cloud/jira/platform/rest/v3/#api-rest-api-3-issue-issueIdOrKey-comment-post

While it is true that 200 should be a valid response, sporadically a code im reviewing gets a 200 response but does not post anything to Jira.
Also, doing a quick search

[2020-06-25 06:18] andygrunwald commented on #304
@lahire you are right. This might be a bug (?) or missing optimization (?).
Would you mind to open a PR for this?

[2020-06-25 15:39] lahire commented on #304
I can sure try, but im too new from Go and i'm afraid of breaking your code.

Because i think is not just changing the `200` for a `201`, because that will break the CheckResponse for other things (for example, get comments)

I'll try to investigate and pass it around to more go-versed peoples to see if i can learn how to adapt this

[2020-06-29 04:18] ghostsquad commented on #284
Since PR #286 has already been merged, this probably should have been closed already.

@andygrunwald check out this page for the proper way to close issues:

https://help.github.com/en/enterprise/2.16/user/github/managing-your-work-on-github/closing-issues-using-keywords

You commit was _very_ close. Instead of

[code]

it should have been

[code]

[2020-06-29 04:18] #284 closed

[2020-07-02 10:30] andygrunwald commented on #290
/unstale

[2020-07-03 02:15] ghostsquad commented on #290
@andygrunwald do you have to `/unstale` it or will any comment work?

[2020-07-08 10:54] andygrunwald commented on #290
@ghostsquad No need touse the /unstale comment. I just used it to make my intentions clear.

[2020-07-09 09:20] fdcds opened #305 "Support project style and simplified fields for next-gen support"
## Is your feature request related to a problem? Please describe.

go-jira offers no way to distinguish next-gen projects from classic ones.

## Describe the solution you'd like

`Project` and `ProjectList` should have fields `style` (values next gen or classic) and `simplified` (boolean).

## Describe alternatives you've considered

Query the JIRA HTTP API myself, but that defeats the purpose of

[2020-07-21 11:09] shvydok opened #306 "User search by email does not work"
Hello All,

due to recently introduced change in user.go, search by user email now fails with 400 error.

This is due to query parameter "username" was replaced with "query".

I left a comment here with details on exact line of code https://github.com/andygrunwald/go-jira/commit/f50cb07b297d79138b13e5ab49ea33965d32f5c1#r40780104

Please let me know if more details needed.

Thank you.

Sincerely,
I

[2020-07-31 01:39] xing-xiao opened #307 "How to Create Issue with Epic Link"
Is there an example of create issue with epic link, the following code is not workable :-(

[code]

[2020-08-10 06:02] naiduarvind opened #308 "[issue] - Example "Create an Issue" Failing"
## Describe the bug

The example on "Create an Issue" runs into a panic with a status code: `400`.

Formatting tips: GitHub supports Markdown: https://guides.github.com/features/mastering-markdown/

## To Reproduce

Provide a link to a live example, or an unambiguous set of steps to reproduce this bug. Include configuration, logs, etc. to reproduce, if relevant.

1. Simply copy the example from th

[2020-08-10 21:53] eliot-stripe opened #309 "Add API call to delete an issue link"
## Is your feature request related to a problem? Please describe.

The go-jira project supports creating issue links but not deleting them.

## Describe the solution you'd like

Implement the delete-issue API: https://developer.atlassian.com/cloud/jira/platform/rest/v2/api-group-issue-links/#api-rest-api-2-issuelink-linkid-delete

[2020-08-11 20:25] ghostsquad opened #310 "🆘 Please help keep this project alive - Maintainership requested!"
I think it's safe to say that neither @andygrunwald nor I use this library much, nor have the time to give it proper attention. We've also reached out to Atlassian to see if they would help by either sponsoring or providing test instances of Jira so that we could write better end-2-end tests, but that was also declined.

### If anyone is interested in helping to maintain this library, including wo

[2020-08-13 15:36] dac42 commented on #308
I'm experiencing a very similar issue except that I can use the Assignee field, just not the Reporter field.

Additionally, when I remove the Reporter field and use jc.Issue.Create(), the issue is created successfully with all fields populated as expected but the issue struct returned from the call has Fields = nil.

If it helps, my environment:
go-jira version: 1.12.0
go version: go1.14 darwin/am

[2020-08-14 15:52] fffinkel commented on #310
Hi there! I'm very interested in maintaining this project. I'd like to use the library for a work project, and I think it would be a great thing to get involved with. Please let me know how to proceed.

[2020-08-14 19:07] ghostsquad commented on #310
@fffinkel - Great! I suppose there's a bit of a "test" that you should pass before getting started here, and @andygrunwald will need to actually give you access. First, please read this:

https://opensource.guide/best-practices/

and let me know what you think of each subtopic (brief brief essay)

additionally, there are a few other things that I think are important for this project:

1. strict ba

[2020-08-14 19:10] ghostsquad commented on #310
additionally, it might be useful to just simply have you get started on working through some existing issues and PRs, etc. And I think that would also give a sense to how you work prior to giving you a "maintainer" role. @andygrunwald what do you think?

I don't want to put too much friction in this process, but also I think it's important to ensure there's a certain level of trust and responsibil

[2020-08-14 20:24] fffinkel commented on #310
I gave the best practices guide a once-over, but I'll give a thorough read tonight.

Regarding the three points:

1. I have experience with this at work, where I've designed and maintained HTTP and code-level APIs. I understand the concepts and (believe I) would know how to handle such a thing if I were to begin working on a v2 for this project.
2. I am fairly experienced with git, having used it

[2020-08-14 20:40] ghostsquad commented on #310
I love the attitude!!! I'm happy to provide mentorship! That's one area that I do have time for. Maybe we can setup a voice chat sometime and I can give you a rundown of what I know, what work is needed especially with V2.

I'm on PST time. My email address is in my profile, please feel free to reach out and we can coordinate something.

[2020-08-15 08:55] andygrunwald commented on #310
Hey Matt and Wes,
sorry to be late to the game. I agree with everything that was said here already. I would have suggested exactly the same.
I also hate it seeing unanswered PRs and issues coming in :(

Should we just start like agreed? @fffinkel if you have time and energy, just start with a few PRs or issues.
I can also provide mentorship or answering questions. Email is also visible in my profi

[2020-08-15 10:50] Tensho opened #311 "Debugging"
It would be nice, if client could output HTTP request and response content for debugging purpose, like [`aws-sdk-go`](https://docs.aws.amazon.com/sdk-for-go/v1/developer-guide/configuring-sdk.html#logging) does.

### Aletrnative

Right now I have to add custom roundtrip transport to base HTTP client and pass it to the target's one:

[code]

[2020-08-15 16:09] ghostsquad commented on #310
Let's remove the stale bot for now. I think it's a bad experience given the circumstances

[2020-08-15 18:51] fffinkel commented on #310
I've sent an email to both of you which introduces myself a bit more thoroughly and suggests a time to chat on the phone.

As you suggested, I read through the article about maintainer best practices, as well as several articles linked to in that one. If you have anything else you think I should read I'm all ears.

In an effort to get started, I have:

- Made sure go-jira tests run and pass locall

[2020-08-17 04:37] ghostsquad commented on #310
We likely should consider reopening recently closed issues that were closed as being stale too.

[2020-08-17 04:37] ghostsquad commented on #310
cc @andygrunwald

[2020-08-18 18:41] andygrunwald opened #314 "Preparation for Hacktoberfest 2020"
https://hacktoberfest.digitalocean.com/ is right in front of us (~1 1/2 month).
This project has quite some stars and gets multiple issues and PRs. Hacktoberfest would be a great way to bring back active support and tackle a few good issues.

### What can we do?
* Adding a "Hacktoberfest" label
* Going through the issues, marking them as a beginner, intermediate or expert
* Add missing information

[2020-08-19 16:50] wkoszek commented on #197
@ghostsquad I'm hitting the same error on login. Why is this issue closed? It looks like a simple error reporting fix would help with debugging a whole lot.

[2020-08-19 17:01] andygrunwald commented on #197
Reopened to get the v2 visibility.

@wkoszek Would you be open to create a PR and give it a try?

[2020-08-19 17:09] wkoszek commented on #197
@andygrunwald https://pastebin.com/CKG9R2tH <- do you know how to workaround this Golang issue?

[2020-08-19 17:14] andygrunwald commented on #197
@wkoszek Never had this case.
A quick searched looked like replacing is the way to go, see https://starkandwayne.com/blog/switching-to-go-modules/#using-forks-and-branches and https://stackoverflow.com/questions/56671133/how-to-use-a-forked-module-with-versioned-go-modules-v1-11-go111module-on

Sounds scary and seems to be a hack, somehow. Maybe this can worth a try?

[2020-08-19 19:58] eparis commented on #55
Since I ended up here I figured I'd post this for the next person implementing it in your code.
[code]

[2020-08-19 20:49] andygrunwald commented on #55
Thanks Eric!
Would you be interested in adding this code as an example via a Pull
Request?
This would be a great addition to the docs.

Eric Paris <notifications@github.com> schrieb am Mi. 19. Aug. 2020 um 21:59:

[2020-08-31 04:43] fffinkel commented on #257
Re-opening stale comment! I'll be helping out with the project a bit, and Stale Bot is no more.

[2020-08-31 13:00] fffinkel commented on #251
Re-opening stale comment! I'll be helping out with the project a bit and Stale Bot is no more, so we're re-opening tickets that were closed due to age.

[2020-08-31 13:01] fffinkel commented on #211
Re-opening stale comment! I'll be helping out with the project a bit and Stale Bot is no more, so we're re-opening tickets that were closed due to age.

I will eventually try to reproduce this issue, so I would like to keep it in our queue.

[2020-08-31 13:02] fffinkel commented on #262
Re-opening stale comment! I'll be helping out with the project a bit and Stale Bot is no more, so we're re-opening tickets that were closed due to age.

[2020-08-31 13:04] fffinkel commented on #257
Re-opening stale comment! I'll be helping out with the project a bit and Stale Bot is no more, so we're re-opening tickets that were closed due to age.

[2020-09-01 18:41] omerxx commented on #308
+1
I see the exact same behavior.

[2020-09-05 03:35] wkoszek commented on #197
@andygrunwald I looked at the code. I attempted to make a fix by simply carrying 'error' value up in the stack to the top layers of the code. Unfortunately a bunch of unit tests failed, because there are places in the code where you create your own error messages.

In the meantime, I've switched to https://github.com/go-jira/jira which after solving some hiccups (https://github.com/go-jira/jira/is

[2020-09-07 22:17] astockwell opened #317 "Please keep HTTP Basic Auth capability as token-based-auth is not available on self-hosted JIRA instances (it's noted as depricated)"
Please keep HTTP Basic Auth capability as token-based-auth is not available on self-hosted JIRA instances (it's noted as depricated).

[2020-09-10 19:47] vigkri opened #318 "How to Update status and assignee for Jira tickets"
Hi all,

 Apologies if the query is a bit trivial. I am a beginner trying to use this module to automate Jira. I require help from the team to understand what is the syntax to change ticket statuses. Also, it would be helpful if somebody helps out on how to get the Assignee name for a Jira ticket (and change assignee).

Thank you.

[2020-09-16 01:01] plilius commented on #318
In Jira, "status change" is called "transition". You should be able to use the `DoTransition()` method for simple status changed (without payload)
https://github.com/andygrunwald/go-jira/blob/f50cb07b297d79138b13e5ab49ea33965d32f5c1/issue.go#L1212

or for passing the assignee in the same request use DoTransitionWithPayload()
https://github.com/andygrunwald/go-jira/blob/f50cb07b297d79138b13e5ab49ea

[2020-09-16 01:02] plilius commented on #318
Also, to get the assignee name for an issue, use GetIssue() method:
https://github.com/andygrunwald/go-jira/blob/146229d2ab58a3fb128ddc8dcbe03aff72e20857/sprint.go#L121

[2020-09-20 17:40] #318 closed

[2020-09-20 17:43] fffinkel commented on #318
I've added an issue transition example to the README. Thanks so much for your help @plilius !

[2020-09-20 19:14] #317 closed

[2020-09-20 19:15] fffinkel commented on #317
I've updated the README to be a bit more clear. We will not deprecate password auth for self-hosted Jira. Thanks @astockwell !

[2020-09-20 21:20] fffinkel commented on #307
Hi @xing-xiao ! In my Jira Cloud example project (with all default settings), the Epic field is a custom field that is set to the issue ID of the Epic of your choosing. I am very surprised that Epics are linked using a custom field in Jira's API, and not a dedicated field!

To create an issue linked to an Epic, find the custom field ID for the Epic field in your project, and then use that in the l

[2020-09-20 21:20] #307 closed

[2020-09-22 22:37] britcey opened #321 "client.Authentication.SetBasicAuth is deprecated but needed with custom transport"
## Is your feature request related to a problem? Please describe.

I'm updating [Jiralert](https://github.com/prometheus-community/jiralert/pull/70), which uses go-jira and the PR is getting flagged by CI due to:

cmd/jiralert/main.go:118:4: SA1019: client.Authentication.SetBasicAuth is deprecated: Use BasicAuthTransport instead  (staticcheck)

I'm under the impression that Authentication.SetBasic

[2020-09-23 16:28] ghostsquad commented on #310
@fffinkel this is a test

[2020-09-23 16:31] ghostsquad commented on #308
Thank you for your issue your issue report. I appreciate your patience as we work to get a new maintainer up to speed to help out on this project.

[2020-09-27 13:20] andygrunwald commented on #200
Adding a few notes from my desk about the features we aim to put into v2/wishlist:

* Options Arguments
* Generation of Code for API endpoints (swagger files?)
* Unified / more useful error responses
* A better/Easier custom field implementation
* API Client Completion // Tracking of what is implemented
* Differentiation between On-Premise and Cloud-Version of Jira (might have different APIs)

[2020-09-28 14:30] jorijinnall opened #322 "nil pointer exception for custom field not defined"
## Describe the bug

When setting up a project with custom fields, getting a field with Unknowns generate nil pointer exception if the custom field is not defined in JIRA

## To Reproduce

- Create a custom field in JIRA of type "number"
- Do not configure it on one ticket
- Get the value
[code]

## Expected behavior

The value is correctly returned

## Possible Solution

I will create a PR as I h

[2020-09-28 14:34] jorijinnall commented on #322
Sorry, wrong project, the problem is located in https://github.com/trivago/tgo/blob/master/tcontainer/marshalmap.go

[2020-09-29 14:15] andygrunwald commented on #322
Thanks, @jorijinnall.
We might be able to fix this via a PR upstream.
Let's keep this issue open because it might affect go-jira users as well.

[2020-10-11 17:48] grzn opened #323 "Any plans to release 1.13?"
v1.12 was released more than 10 months ago; any plans to make a new release anytime soon?
@fffinkel  @andygrunwald ?

[2020-10-12 07:29] andygrunwald commented on #323
Nothing planned yet, but I don't see a blocker to do this.
@grzn Any bugfix/commit you are looking for in particular?

@ghostsquad @fffinkel Any concerns from your side?

[2020-10-12 09:39] grzn commented on #323
I'm particularly interested in https://github.com/andygrunwald/go-jira/commit/e1f4265e2b467b938fe0c095caf6d36f3136d2ff

[2020-10-14 11:48] fffinkel commented on #323
No concerns here. I'll give it a closer look this weekend and get it merged.

On Mon, Oct 12, 2020 at 4:39 AM Guy Rozendorn <notifications@github.com>
wrote:

--
Matt Finkel
mfinkel.net

[2020-10-19 13:18] ghostsquad opened #324 "Atlassian to end sale and support of on-premise server products by 2024"
https://www.zdnet.com/article/atlassian-to-end-sale-and-support-of-on-premise-server-products-by-2024/

[2020-10-23 21:43] grzn commented on #323
Hi @fffinkel  did you get the chance to look into this?
Thanks

[2020-10-23 21:44] fffinkel commented on #323
I did not, I apologize. Let me see if I can get to it after work today,
should be in a few hours.

On Fri, Oct 23, 2020 at 4:43 PM Guy Rozendorn <notifications@github.com>
wrote:

--
Matt Finkel
mfinkel.net

[2020-10-24 19:19] grzn commented on #323
Maybe today? :)
On 24 Oct 2020, 0:44 +0300, Matt Finkel <notifications@github.com>, wrote:

[2020-10-25 03:00] fffinkel commented on #323
Hey @grzn! I've finally pushed release 1.13 and it includes e1f4265.

[2020-10-25 03:00] #323 closed

[2020-10-25 06:55] grzn commented on #323
Thanks
On Oct 25, 2020, 05:01 +0200, Matt Finkel <notifications@github.com>, wrote:

[2020-10-26 01:30] fffinkel commented on #324
Gah! This tells me that v2 should not include on-prem at all. During the time between the completion of v2 and end of support for 2024, folks that need compatibility with on-prem should use v1.

[2020-10-26 05:59] ghostsquad commented on #324
Yep

[2020-10-26 19:55] suhaibmujahid commented on #324
I'm not sure if I'm missing something. But the *Data Center* products will still be supported and be deployed on on-premise even after 2024. I'm not aware of any plan that Atlassian will depreciate them.

To my knowledge *Server Products* and *Data Center* products have the same REST API. Thus, it is good to support the on-prem *Data Center* product in `v2`.

[2020-10-26 20:17] fffinkel commented on #324
Oh, thanks for that clarification! I will keep it in mind.

[2020-10-26 23:19] ghostsquad commented on #324
At this point V1 works just fine for cloud or on-premise with few edge cases. Since it's a REST API, you are always free to write your own methods and calls for API endpoints that either aren't implemented or have some compatibility issue.

V2 work is _greenfield_ work, and I would _strongly_ disagree that it is worth while to include on-premise or datacenter compatibility in V2, given it's very l

[2020-10-27 00:30] suhaibmujahid commented on #324
Thank you @ghostsquad for your reply.

I'm just trying to understand the situation. I did read the [news article](https://www.zdnet.com/article/atlassian-to-end-sale-and-support-of-on-premise-server-products-by-2024/) and the [blog post](https://www.atlassian.com/blog/announcements/journey-to-cloud) from  Scott Farquhar. I did not see where they mentioned that they will cut the support on on-premi

[2020-10-27 15:04] ghostsquad commented on #324
Oh I see. Ok.

[2020-11-04 06:47] jef commented on #200
I would like to see some of the APIs the require `boardId` to be consistent with either `int` or `string` type.

Example:

[code]

[2020-11-05 22:52] AdamSLevy opened #326 "Don't change published version tags to avoid go module checksum mismatch"
Recently it appears that the `v1.12.0` tag was moved to a different commit. https://github.com/andygrunwald/go-jira/tree/v1.12.0

This has caused breakage in any go code that was using this tag's previous location in their go.sum file.

[code]

Changing a git tag is basically the equivalent to force-pushing a public branch and can cause breakage and headaches for anyone downstream. *Please please

[2020-11-05 22:58] AdamSLevy commented on #326
Reviewing the diff between v1.12.0 and v1.13.0 I see that v1.12.0 is actually identical to v1.13.0 in terms of code. So I am going to amend my suggestion and recommend that you actually restore the location of the v1.12.0 tag to wherever it was before.

[2020-12-02 22:27] benjivesterby commented on #310
@andygrunwald @ghostsquad I would like to help as well. A great deal of work I did at NortonLifelock (github.com/nortonlifelock/jira) used this repo and I'm going to be refactoring that work soon to PR some of it to this repo since it makes more sense to make it widely available as part of this module. I currently have a personal JIRA but I don't know if I have API access through that yet for test

[2020-12-03 04:03] ghostsquad commented on #310
hi @benjivesterby ! Thanks for showing interest! @fffinkel should also be involved. Can you tell us a bit about yourself per https://github.com/andygrunwald/go-jira/issues/310#issuecomment-674229525 ?

[2020-12-03 13:23] fffinkel commented on #310
Yeah!! Welcome Ben, super happy to have your help and experience!

[2020-12-03 13:24] benjivesterby commented on #310
@ghostsquad no problem, I've contributed once to the project in the past. I'm a huge fan of the project and worked with a very large (5 million+ issue) JIRA project previously using it.

My work from NortonLifelock is open sourced here (github.com/nortonlifelock) but I do not currently maintain those projects my old team does. I do however maintain my own open source repositories which are located

[2020-12-06 16:03] dselyuzhitskiy opened #329 "Add Properties key to the Comment structure"
Hello!

According to https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-issue-comments/#api-rest-api-3-issue-issueidorkey-comment-post Comment struct has Properties field that is a slice of EntityProperty, so i suggest to add

`Properties   []EntityProperty  `json:"properties,omitempty" structs:"properties,omitempty"`` to the Comment structure

[2020-12-08 20:53] jason-barbier-tcc commented on #200
- Support for GDPR strict mode

[2020-12-08 21:15] kusuriya commented on #310
I wouldn't mind lending a hand. Per the introduction comment,
I have some experience contributing to open source here and there I wrote the initial man page for opensmtpd's sqlite database, I've done some commit updates to gitlab to improve ECS handling, and I have done some work around profiling and trying to clean up the FreeBSD build system

To the main points in the best practices for open sou

[2020-12-09 07:40] andygrunwald commented on #200
Hey @jason-barbier-tcc

Do you have a bit more information on what this means for a library and how we can support this?
E.g. a link with more information?

[2020-12-09 14:20] NehaSachan opened #330 "unable to use CustomField , Attachments And Adding it to EPIC while creating Jira TIcket"
`customfields := tcontainer.NewMarshalMap()
	customfields = tcontainer.MarshalMap{
		// "customfield_13100": "API-125",
		"customfield_15400": "Testiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii",
	}
	i := jira.Issue{
		Fields: &jira.IssueFields{
			// Expand: "customfield_16053",
			// Epic: &jira.Epic{
			// 	Key: "API-125",
			// },
			// Parent: &jira.Parent{
			// 	Key: "API-125",
			// },
			Labels: []st

[2020-12-09 16:07] jason-barbier-tcc commented on #200
@andygrunwald Sure
So it's basically this https://developer.atlassian.com/cloud/jira/platform/deprecation-notice-user-privacy-api-migration-guide/
The TL;DR on it is the cloud version, and if you select GDPR strict on prem no longer uses usernames and you can not do `User.Get()` with a username you must use the jira user id. If you need to find the user ID you need to use the longer query process

[2020-12-09 16:53] andygrunwald commented on #200
Thanks @jason-barbier-tcc.
So it boils down to supporting multiple ways to retrieve a user, correct?

[2020-12-09 17:04] jason-barbier-tcc commented on #200
@andygrunwald yep, multiple or different ways to retrieve users due to a change to make it easier to comply with GDPR.

[2020-12-09 17:38] ghostsquad commented on #310
I really like this idea, and was recently reading up on this from https://github.com/probot/dco - This would be a great addition.

I'll defer to @andygrunwald ultimately, but I don't see a problem with getting more help!! 😄

[2020-12-10 09:47] NehaSachan commented on #330
Hi team
Please help out as stuck to this issue..

[2020-12-10 14:15] NehaSachan commented on #330
@andygrunwald please look into it....

{
    "fields": {
        "project": {
            "key": "XXXXXXX"
        },
        "summary": "just a demo test",
        "issuetype": {
            "name": "Bug"
        },
        "assignee": {
            "name": "Neha Sachan"
        },
        "customfield_16053" : {"value": "green", "child": {"value":"blue"} },

        "attachment": [
            {

[2020-12-10 15:23] benjivesterby commented on #330
@NehaSachan It looks like your JIRA screen doesn't have the custom field added to it for the operation you're attempting.

See: https://community.atlassian.com/t5/Jira-questions/quot-Field-customfield-10012-cannot-be-set-It-is-not-on-the/qaq-p/664236

Please verify that the issue screen has this custom field added to it (in the UI) otherwise the JIRA API from Atlassian will not allow you to set th

[2020-12-10 15:51] andygrunwald commented on #330
Hey @NehaSachan,

thanks for your issue. I would like to help you to solve your issue, however, my and the time of the other contributors does not always allow quick responses. Please understand, that this library is provided as open-source for you and others to use (free of charge) and was created mostly in the spare time of me and other contributors.

If you require a timely response or support

[2020-12-11 10:27] NehaSachan commented on #330
@andygrunwald thankx for the support.
i am now directly calling the jira rest api.

[2020-12-11 10:27] #330 closed

[2020-12-19 13:06] andygrunwald commented on #200
Thanks, @jason-barbier-tcc.
Just want to ensure that this library contains as little magic as possible and providing power to the user.
Sounds good from my side.

[2020-12-24 01:46] tariqahmed opened #331 "Issue.Search()'s Status field isn't being set"
## Describe the bug

Hey all,

I recently began learning Go and working on a little project w/Jira to learn, so this may be an issue with my knowledge.

The issue is that when I use the Issue.Search() function, the Fields.Status field/property comes back as nil.

### Example:
[code]

[code]

However if I get a single issue via the Issue.Get() function, Fields.Status is set and contains the status

[2020-12-25 01:50] ghostsquad commented on #331
It might be that Jira doesn't fill in all fields for issues when searching. You can see here: https://github.com/andygrunwald/go-jira/blob/master/issue.go?ts=4#L1036 that we are calling the `rest/api/2/search` endpoint of jira.

there's more information here:
https://developer.atlassian.com/cloud/jira/platform/rest/v2/api-group-issue-search/#api-rest-api-2-search-get

and

https://developer.atlass

[2021-01-08 17:13] EricCrosson opened #334 "Unable to create ticket with value as number"
## Describe the bug

What I did:

Try to create a ticket with a customfield value containing a number

What I expected to happen:

the yaml of a number (e.g. `value: 1`) would be parsed as a number when sent as an http request

What actually happened:

[code]

## To Reproduce

Not sure how to set up a field that only takes a number on the Jira admin side, but if you know of such a field, try to cr

[2021-01-09 09:06] andygrunwald commented on #334
Hey @EricCrosson,
do you have a bit of code for us to reproduce the problem?

[2021-01-15 01:46] EricCrosson commented on #334
Hi Andy,

well not really, I haven't written any code. I'm working with this `create` template (excerpt)

[code]

and using `jira create`. If I try to add the `customfield_10115` dict with `value: 1`, I get the `Operation value must be a number` error.

[2021-01-16 03:47] ghostsquad commented on #334
I think you are using the CLI tool. Thats not this project. This is a go
library only.

Did you mean to file this here: https://github.com/go-jira/jira ?

Cheers,
Wes

On Thu, Jan 14, 2021, 5:46 PM Eric Crosson <notifications@github.com> wrote:

[2021-01-16 04:26] EricCrosson commented on #334
Oh my goodness! Egg on my face :sweat_smile: I must have crossed my wires switching from my work machine to a personal machine. So sorry about that!

Thank you for the helpful pointer,
Eric

[2021-01-16 04:26] #334 closed

[2021-01-22 03:01] KqLLL opened #335 "Support jira Organization"
## Describe the solution you'd like
Support organization api like group

## Additional context
https://developer.atlassian.com/cloud/jira/service-desk/rest/api-group-organization/

[2021-01-26 16:00] fallais opened #337 "Support Context for HTTP requests"
Would it be possible to add Context support for HTTP requests please ?

[2021-01-27 08:40] andygrunwald commented on #200
Another note that was triggered by #337:
* Full support for [context](https://golang.org/pkg/context/)

[2021-01-27 08:46] andygrunwald commented on #337
Hey @fallais,
yeah, sure. Thanks for this issue. integrating and adding support for the context package is something we would love to have.
Right now, we have a few methods with a suffix `WithContext` that support it already.
However, it is not widely implemented yet, but we are happy to receive PRs on this.

As a side note: We are collecting ideas for v2 to fix several topics in this package, see

[2021-01-28 21:26] shanestarcher-okta opened #338 "latest version at gopkg.in/andygrunwald/go-jira.v1 is 1.8.0"
Are all versions newer than 1.8.0 considered not stable?  `gopkg.in/andygrunwald/go-jira.v1` is reference in the docs as the stable version, but it has not had changes since 2019.

[2021-01-29 01:18] benjivesterby commented on #338
@shanestarcher-okta on the link https://gopkg.in/andygrunwald/go-jira.v1 it shows the current version as v1.13.0. Do you see something different?

[2021-01-29 01:47] shanestarcher-okta commented on #338
@benjivesterby it does show the current version, but if I drop that into my go.mod file it screams.  Also if I do a `go get gopkg.in/andygrunwald/go-jira.v1 ` the version that gets dropped in my go mod is 1.8.0.  Not 1.13.0.

Am I missing something on my end?

[2021-01-29 01:48] shanestarcher-okta commented on #338
[code]

[2021-01-29 01:49] shanestarcher-okta commented on #338
If I take that and manually update it to 1.13.0
[code]

[2021-02-02 12:04] 030 commented on #191
@ghostsquad please reopen this ticket as the trying to update the watchers once the ticket has been created does not work either

[2021-02-02 12:37] benjivesterby commented on #191
@030 are you able to make it work using the `curl` command against your project? If so please let us know.

@ghostsquad is correct that normally only fields available in the specific screen (create,edit,update) are available to the api when performing that specific function.

Can you please verify that you are able to add watchers during ticket creation in the UI?

[2021-02-02 12:41] 030 commented on #191
@benjivesterby Yes. It just worked. I used the v2 and the username should contain double quotes, see:

https://community.atlassian.com/t5/Answers-Developer-Questions/Please-Help-Got-error-400-when-trying-to-add-watcher-using-REST/qaq-p/567259

[2021-02-02 12:44] benjivesterby commented on #191
@030 the link you provided is using a URL which contains the ticket key which means it's only usable after ticket creation.

[2021-02-02 13:07] 030 commented on #191
@benjivesterby That is true.

[2021-02-02 13:10] 030 commented on #191
@benjivesterby updating watchers does not seem to work either. Should a different ticket be created or could this one reopened?

[2021-02-02 13:14] benjivesterby commented on #191
@030 Can you provide a code example of this not working on an existing issue?

[2021-02-02 13:54] 030 commented on #191
I used the `Issue.Update(&ji)` in conjunction with `jira.Issue{Key: "ticker-number"}. I did not save the code snippet and received the same error https://github.com/andygrunwald/go-jira/issues/191#issuecomment-531726884

[2021-02-02 13:57] 030 opened #339 "Example how to set a due date"
I tried to set a Duedate as field:

[code]

but I do not seem to get the right format.

[2021-02-02 14:07] benjivesterby commented on #191
@030 can you please add a new issue. It looks to me like there is a typo.

https://github.com/andygrunwald/go-jira/blob/master/issue.go#L117

It should be `Watchers` and the json should be `watchers` instead of `Watches` and `watches`

I'll see if that is actually the issue and PR it if it is when I have some time. You're welcome to make the update and PR it if you're willing. We always welcome co

[2021-02-02 14:38] 030 opened #340 "Watchers cannot be added/updated (perhaps due to typo, i.e. watches instead of watchers)"
Example

https://developer.atlassian.com/cloud/jira/platform/rest/v2/api-group-issue-watchers/#api-rest-api-2-issue-issueidorkey-watchers-post

[code]

related

https://github.com/andygrunwald/go-jira/issues/191#issuecomment-771658944

[2021-02-02 14:39] 030 commented on #191
@benjivesterby new issue has been created

[2021-02-02 17:21] benjivesterby commented on #339
@030 Try one of these format strings in `time.Format` when setting that field

https://github.com/nortonlifelock/jira/blob/1687038936ca93cf4a856970d669484c58bd0b7c/const.go#L44

[2021-02-03 09:32] 030 commented on #339
@benjivesterby I tried that, but it does not work. Perhaps the example could be extended with a working example?

[2021-02-03 09:34] 030 commented on #310
Perhaps a roadmap could be created. What are the plans regarding Jira API v3?

[2021-02-03 14:16] benjivesterby commented on #339
@030 I'll see what I can do. It's been a bit since I've had a production JIRA to play with, but I'll try and setup something against my own instance and get back to you. Theoretically though it should only be a formatting issue, but since Due Date is a default field for JIRA I believe you can also just assign a time.Time formatted using the format string `2006-01-02T15:04:05.999-0700` and it shoul

[2021-02-08 10:06] #335 closed

[2021-02-08 10:34] lodi-g opened #343 "Consider upgrading version of jwt-go to fix security vulnerability"
Hi,

The dependency jwt-go has a security vulnerability in all versions <4.0.0: https://github.com/dgrijalva/jwt-go/issues/428 .
Please consider upgrading to the latest version (v4.0.0-preview1) or switching for another library.

Thanks!

[2021-02-08 14:39] benjivesterby commented on #343
@andygrunwald @ghostsquad Perhaps we should set up dependabot so that it can auto-pr package upgrades and merge if the CI passes?

[2021-02-08 15:27] andygrunwald commented on #343
<img width="965" alt="Screen Shot 2021-02-08 at 16 24 16" src="https://user-images.githubusercontent.com/320064/107240380-219c6380-6a2a-11eb-82a8-775ef1d48375.png">

Everything is activated already. Is there anything else to do from our side?

Is there a way to check if this vuln is already caught up by the bot?

[2021-02-08 17:15] benjivesterby commented on #343
Hmm I'm not sure. Do you have it setup here? https://app.dependabot.com/accounts/andygrunwald

[2021-02-08 17:42] andygrunwald commented on #343
Thanks @benjivesterby
Dependabot is now working. PRs are incoming. Until now, no one for go-jwt.
Maybe we wait a bit and/or do it by hand :)

[2021-02-08 17:49] benjivesterby commented on #343
@andygrunwald no problem. I would suspect that it will auto-PR it. When I've had a security vuln pop on my libs before it took a couple days before dependabot updated. If not that we can keep an eye and do it manually.

[2021-02-08 17:54] lodi-g commented on #343
Thank you for your reactivity!
Please keep in mind that the newest version of jwt-go is a "preview" version so it might not be publised at the "latest" but more in a beta form, we should make sure it does not break anything before upgrading.

[2021-02-10 09:56] pH-T opened #350 "Documentation for custom jira fields"
Hi!

First: thanks for your work here! Its nice to have a Jira API impl. in Go!

I stumbled upon the `Unknowns` struct field of `IssueFields` and thus I think it should be possible (?) to add custom Jira fields - but how? Can you provide an example?

Thanks,
pH-T

[2021-02-10 18:49] manuelbcd commented on #350
Hello @pH-T , do you mean how to retrieve them?  If so, please have a look to issue_test.go (line 776)
https://github.com/andygrunwald/go-jira/blob/master/issue_test.go
here you can check how to retrieve and work with custom fields and just below, with complex custom fields

If you are talking about a different opertation please explain and I will try to help you

Best.

[2021-02-10 20:40] pH-T commented on #350
Thanks for your fast reply!

Sorry, I was not precise enough... I was wondering how I would _create_ an issue with custom fields.

Should something like this work?

[code]
I was not able to get this code snipped to run successfully, but this might be because of my local Jira-Testing-Instance...

[2021-02-11 09:56] manuelbcd commented on #350
Yes, I think that is the way, let me bring you some examples from other issues

(Source https://github.com/andygrunwald/go-jira/issues/257#issuecomment-595637698 )
[code]

Also have a look to this post and its resolution: https://github.com/andygrunwald/go-jira/issues/117

Pls let us know if that help

[2021-02-11 10:48] pH-T commented on #350
Thank you, that helps! So I was on the right track... :)

[2021-02-11 13:10] andygrunwald commented on #350
Hey @pH-T and @manuelbcd
Thanks for stepping in and solving this issue.

Would one of you mind to create a PR and create a proper example into the documentation/readme/example unit test?
This would be great.

[2021-02-11 20:18] vbisbest commented on #69
I have a similar issue with Reporter.  Using any but the AccountID as the value fails to create the ticket with:
"{\"errorMessages\":[],\"errors\":{\"reporter\":\"Reporter is required.\"}}"

Ideas?

[2021-02-12 10:21] manuelbcd commented on #350
Hello @andygrunwald, playing with the project to implement this new test I have noticed that the CreateIssue example (https://github.com/andygrunwald/go-jira/blob/master/examples/create/main.go) is not working with Jira Cloud (equivalent to jira software 8.15.x right now).

The creation method works properly but the return body does not include the "Summary" field so at the end of the example you

[2021-02-13 09:22] oriser opened #352 "No query options for GetIssuesForSprint"
## Describe the bug
`GetIssuesForSprint` and `GetIssueWithContext` are missing query options.
It prevents lot of useful filtering, like issue assignee, reported, etc..

## To Reproduce
Just try to filter issues by assignee or other filter

## Expected behavior
I would expect `GetIssuesForSprint` get a query options like others functions

## Possible Solution
Add query options to the function

## Y

[2021-02-13 09:43] andygrunwald commented on #352
Hey @oriser,
thanks for the issue. Would you mind adding an example source code to reproduce the problem?

And are you using an on-premise version of JIRA or the cloud version?

[2021-02-13 09:54] oriser commented on #352
Hi @andygrunwald , Thanks for your quick response!
I just opened a PR that adding the missing options, will be glad for your review.
I'm using cloud version of JIRA, the thing is, that as documented in JIRA API (https://developer.atlassian.com/cloud/jira/software/rest/api-group-sprint/#api-agile-1-0-sprint-sprintid-issue-get)
The `GetIssuesForSprint` function is able to get some filtering argument

[2021-02-14 12:13] andygrunwald commented on #350
Hey @manuelbcd,
thanks for your effort you put in already. I am very limited in time right now to have a deeper look at it. I will need some time to look at it in detail. Please excuse me when it comes to delays here.

[2021-02-15 08:15] manuelbcd commented on #350
Sure @andygrunwald.  Meanwhile I can investigate in which particular Jira versions the response was changed (I guess 8.0 but it could be earlier).

[2021-02-18 08:47] kp2401075 commented on #55
Hey @andygrunwald  & @eparis ,

I would be interested in adding @eparis's code as a pull request only if he is ok with it.

and  if he is ok @andygrunwald  would it go in issue.go?

[2021-02-18 09:06] andygrunwald commented on #55
Hey @kp2401075,
Adding this as an example would be a good idea.
We aim to keep a fetch all functionality outside of this library. Pagination should be handled by the client/caller.

The library itself should cover attributes like StartAt to enable pagination.
What do you think @kp2401075 ?

[2021-02-18 09:44] kp2401075 commented on #55
@andygrunwald That sounds good,

In that case where do you think should I add examples/jql ?

If somewhere else please suggest.

BTW, I'm very new to golang so If I do something stupid please point it out.

thanks.

[2021-02-18 12:45] andygrunwald commented on #55
I suggest adding a new example with a particular focus on pagination rather than making an existing example more complex.
Another idea would be to add a section to the readme

[2021-02-18 17:14] eparis commented on #55
My code snippet above may be used in any context. It is public domain if your jurisdiction allows it. It may also be used under any open source license if a license is required. Go forth and use it!

[2021-02-20 10:56] manuelbcd commented on #350
Hello @andygrunwald , I have been navigating through Jira API documentation (from v1 to v8) and it is strange because I can't see a POST Issue (creation) response with field values within it, please have a look:

- (Jira v1) https://docs.atlassian.com/software/jira/docs/api/REST/1000.1300.0/#api/2/issue-createIssue
- (Jira v5) https://docs.atlassian.com/software/jira/docs/api/REST/5.2/#id250990
-

[2021-03-01 10:58] andygrunwald commented on #350
Sadly, I don't have the time right now to look into this.
@ghostsquad @rbriski @fffinkel @benjivesterby Do you have time to provide some help?

[2021-03-08 22:19] calculiTestUser opened #361 "Get components for a project"
## Is your feature request related to a problem? Please describe.

I need to be able to pull the list of components defined for a given project

## Describe the solution you'd like

Implement https://docs.atlassian.com/software/jira/docs/api/REST/8.5.12/#api/2/project-getProjectComponents API

## Describe alternatives you've considered

I could implement JIRA REST endpoint as any other API, but th

[2021-03-08 22:22] calculiTestUser commented on #361
I can implement this and create a PR if i can create a branch

[2021-03-08 22:27] #361 closed

[2021-03-09 02:15] neha-viswanathan commented on #338
it looks like the version here is still pointing to 1.8.0 https://pkg.go.dev/gopkg.in/andygrunwald/go-jira.v1
![Screen Shot 2021-03-08 at 6 14 24 PM](https://user-images.githubusercontent.com/12013126/110408271-29a3ef00-803a-11eb-95cb-1b2e8c2ea58d.png)

[2021-03-19 08:12] manuelbcd commented on #350
@andygrunwald I forgot to request you to close this isse. I think it is resolved in #358 and #357

[2021-03-19 09:09] andygrunwald commented on #350
Thanks a lot @manuelbcd!

[2021-03-23 09:49] manuelbcd opened #368 "Add WarningMessages to query response to be able to manage warnings"
## Is your feature request related to a problem? Please describe.
No, it is not a problem.

## Describe the solution you'd like
When using Issue.Search(...) I have noticed that the optional field "WarningMessages" is not implemented in the response struct
struct:
![image](https://user-images.githubusercontent.com/10448961/112126909-32153180-8bc5-11eb-92b2-01e79c313b76.png)
real response:
![image](

[2021-03-23 09:56] andygrunwald commented on #368
Hey @manuelbcd,
thanks!

Two questions:
1. Are you talking about the OnPremise JIRA Version (+ which version in particular?) or the Cloud-Version?
2. Do you have a link to the response documentation?

Would love to review a PR for this!

[2021-03-23 10:01] manuelbcd commented on #368
I have tested it on Jira Cloud but I think it is part of response (only when something goes wrong) in V3 API on-prem also

You can check the response example in issue-search documentation:

https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-issue-search/

![image](https://user-images.githubusercontent.com/10448961/112128881-24f94200-8bc7-11eb-8c7f-f4470fb7968a.png)

[2021-03-23 10:14] andygrunwald commented on #368
Great, thanks. Happy to review a PR for this.

[2021-03-23 23:37] manuelbcd commented on #368
I'm worried my PR is breaking compatibility since I'm adding a warningMessages[] field to issue.Search() response.
Please suggest if there could be a better approach to implement it or if you simply consider it is not worth to add warningMessages considering drawbacks.

[2021-03-25 13:29] andygrunwald commented on #368
Thanks, @manuelbcd! I will have a look. Let us continue the discussion about the implementation approach to https://github.com/andygrunwald/go-jira/pull/369

[2021-03-26 01:44] trenton42 commented on #308
After looking at the Jira docs, it looks like they require an account id for assignee and reporter. Testing it out with the following snip worked:

[code]

[2021-03-26 16:51] Jonnymcc opened #371 "v1.12.0 checksum mismatch"
## Describe the bug

Dependabot reports a checksum mismatch between what is downloaded and what is in go.sum.

## To Reproduce

## Expected behavior

The downloaded checksum should match what we had in go.sum.

## Possible Solution

## Your Environment

Include as many relevant details about the environment you experienced the problem in

* go-jira version (git tag or sha): v1.12.0
* Go version (`

[2021-03-30 17:33] ptripathi-twilio opened #373 "assignee field while creating jira ticket fails with 400"
## Describe the bug

When I try to assign a ticket to some while creating it, zapi fails with 4000 bad request.

 jira create API payload log looks like this:
`"fields":{"assignee":{"Password":"","name":"svc.koalat-jira"},"issuetype":{"name":"Test"},"labels":["MyMy"],"project":{"id":"23432"},"reporter":{"Password":"","name":"fgvg.rtf"},"summary":"TestVoid"}}`

but I get a 400 error with msg like t

[2021-04-02 00:02] Dynatrace-Adam-Gardner commented on #373
Assignee and Reporter need to be user IDs not usernames

[2021-04-03 08:09] ctreminiom commented on #373
It seems the user you're using to authenticate the call doesn't have the **Assignable User** permission or the fields are not in the **Issue Create** screen.  @Dynatrace-Adam-Gardner the User ID (account-ID) is required only on the Cloud version, on Jira On-Prem is the _Username_ value

[2021-04-13 04:07] tuckyapps commented on #69
@andygrunwald Hey, great project by the way! I am having the same issue as @vbisbest with the reporter, is there any fix coming soon? Thanks!

[2021-04-14 09:29] benjivesterby commented on #69
@tuckyapps this is an open source project and those of us maintainers work on these issues as we're able. You're welcome to submit a PR to update the example so that it is correct and I'll review it. Otherwise, if you need production support you're welcome to reach out to the maintainers and see if they're available for contracted support.

[2021-04-16 12:10] manuelbcd commented on #69
@vbisbest @tuckyapps  would you be so kind to specify jira version and type? Maybe I can bear a hand here
Best.

[2021-04-16 18:20] andygrunwald commented on #69
Hey @tuckyapps and @vbisbest,
as @benjivesterby wrote, we, as maintainers, do not have the time that we would love to spend on this project, due to our work, family, and other obligations. We would ask you and others to provide an understanding of this.

What would be helpful are a few information about your setup, like:
* go-jira version (git tag or sha):
* Go version (`go version`):
* Jira versi

[2021-04-16 23:07] tuckyapps commented on #69
Hi @andygrunwald @manuelbcd @benjivesterby ,

Thanks again, didn't mean it in a bad way.

- go-jira version was the last release.
- Jira is Cloud.
- System is Mac OS Big Sur.

I am not using the library because only to solve a specific need and I decided to go for Jira API this time.

In case it helps, this is the code I am using that is working:

`// createJiraIssue is the function used to create

[2021-04-17 08:43] manuelbcd commented on #69
Let me shed some light on this (if I understood the problem properly).

@tuckyapps, @vbisbest  you said you are unable to create issues when specifying reporter, using any username but accountID

That is right since Jira cloud abandoned usernames (please have a look to official article https://confluence.atlassian.com/cloud/blog/2018/06/say-goodbye-to-usernames-in-atlassian-cloud )

In short: Jira

[2021-04-17 15:10] tuckyapps commented on #69
@manuelbcd Wow, thank you for your fast response!

Thank you for providing the article. I'm wondering however, why does it works using the API then?

Doesn't make sense, right?

[2021-04-19 07:19] manuelbcd commented on #69
Hey @tuckyapps.  Sorry, maybe I did not expressed it properly.

username field is not deprecated, it is a valid field within user structures in both Jira server and Jira cloud.  However, you can't avoid accoundID in Jira cloud anymore (since 2008 due to GDPR compliance).  That means you need to specify at least accountID...   that makes redundant to specify also username, since accountID is enough

[2021-04-19 14:42] tuckyapps commented on #69
Hi @manuelbcd,

Now I get what you said :)

However, still wondering why it works using the API without the account id.

Best,

Santi

[2021-04-19 14:59] manuelbcd commented on #69
It will work with Jira Server API but not with Jira Cloud API.

If you are communicating with Jira Server API, you will be able to refer to users using only username field.

If you are communicating with Jira Cloud API, you can't refer to users using usernema, you need to use accountID.

But both (Server and Cloud) accepts accountID.

Best.

[2021-04-19 15:01] tuckyapps commented on #69
Hmm then I don’t get it, as I am using Jira cloud 🤔

[2021-04-19 15:31] manuelbcd commented on #69
If Jira Cloud is allowing you to create issues by specifying username without accountID it is probably because your project has a default assignee and reporter :)

Please perform the folllowing test:
Having user-A as default assignee and user-B as default reporter, try to create an issue indicanting username from user-C (and avoid accountID).   If I'm right, this issue will be created ignoring use

[2021-04-20 09:11] manuelbcd commented on #373
@benjivesterby, @andygrunwald  I think this issue is resolved and can be closed

Best.

[2021-04-20 09:29] benjivesterby commented on #373
@manuelbcd Sounds good

[2021-04-20 09:29] #373 closed

[2021-04-23 19:32] ctreminiom commented on #310
I would also like to contribute too, is there a roadmap?

[2021-05-11 23:52] sonalp123 opened #376 "Error while creating jira story"
2021/05/11 16:41:09 ERROR:  request failed. Please analyze the request body for more details. Status code: 400

`package main

import (
	"fmt"
	jira "github.com/andygrunwald/go-jira"
	"log"
)

func main() {
	base := "https://jira.com"
	tp := jira.BasicAuthTransport{
		Username: "<username>",
		Password: "<password>",
	}

	jiraClient, err := jira.NewClient(tp.Client(), base)
	if err != nil {
		log.

[2021-05-12 14:22] andygrunwald commented on #376
@sonalp123 Thanks for raising the issue.
Would you mind adding a few more information about your environment?

1. Which JIRA Version are you using?
2. Cloud Version or On-Premise?
3. Which Go version + Operating System are you using?
4. Would you mind pasting the complete error message? (to see in which line the panic is thrown)

[2021-05-12 15:29] sonalp123 commented on #376
1. jira version-8.5.7
2.on prem
3. go version is 1.15.3, mac
4. updated in the post - issue is on `fmt.Printf("%s: %+v\n", issue.Key, issue.Fields.Summary)`

[2021-05-14 13:47] andygrunwald commented on #376
Thanks for all the information @sonalp123.
We will have a look at this when we have a bit of time for it.

[2021-05-15 17:25] mr-pmillz opened #377 "Unable to download attachments from Jira issue"
## Describe the bug
Unable to download attachments from ticket using DownloadAttachment(attachmentID string) method

## To Reproduce

Here is my code snippet, My jira issue definitely has an attachment but am unsure why issue.Fields.Attachments is returning a nil value 🤔
so the code inside of the for loop never runs since attachments variable has a nil value.
I believe if the attachments variable

[2021-05-15 20:44] mr-pmillz commented on #377
Update, I got it working!!!

With this JQL search query, just was wondering if I could have the JQL search grab all the fields by default

[code]

[2021-05-15 20:55] #377 closed

[2021-05-18 11:39] manuelbcd commented on #376
Hello @sonalp123 I think we know what is happening.
The issue.Fields array is not present in creation response by default so you are trying to read an unvalid memory address.
Please remove "issue.Fields.xxx", you can print issue.xxx without any problem.  If you want to get the .Fields array you will need to request the issue using GET after the creation in two different actions (there are many exa

[2021-05-20 11:28] rsteube opened #378 "iterate over ProjectList"
## Describe the bug

My go skills might be lacking for this but i can't iterate over the the anonymous [ProjectList](https://github.com/andygrunwald/go-jira/blob/master/project.go#L18) slice.
Attempts to cast it didn't work so far.

## To Reproduce

[code]
## Expected behavior

Be able to iterate and access values.

## Possible Solution

https://github.com/rsteube/go-jira/commit/86280631ea084fb9f0

[2021-05-20 12:47] andygrunwald commented on #378
Thanks @rsteube.

Which Jira Version + Type (On-Premise or Cloud) are you using?

[2021-06-01 14:09] ihulsbus commented on #378
Hitting the same issue on Datacenter v8.16.1. Unfortunately I've not been able to test on older versions.

[2021-06-01 14:27] rsteube commented on #378
It's rather a go problem as the underlying struct (Project) is anonymous and as far as i know can't be casted (maybe with reflection).

[2021-06-02 08:57] ihulsbus commented on #378
A fresh view on the issue the next day made the issue quite apparent to me. Two possible solutions that work:

`
projects, _, err := jiraClient.Project.GetList()
if err != nil {
	fmt.Printf("encountered a api error %v\n", err)
}

for _, project := range *projects {
	fmt.Printf("key: %v\n", project.Key)
}
`
or
`
for i := 0; i < len(*projects); i++ {
	fmt.Printf("key: %v\n", (*projects)[i])
}
`
The

[2021-06-02 09:57] rsteube commented on #378
Now that's weird. Could swear i tried that and it just wouldn't compile.
Anyway thanks and sorry for bothering you with this (duh!).

[2021-06-02 09:57] #378 closed

[2021-06-02 14:11] andygrunwald commented on #378
Seems to be difficult for users.
I reopen this to check if we can make it easier in the future versions.

[2021-06-10 05:18] modernplumbing opened #380 "Custom fields not being written, and creating issues returns an incorrect *jira.Issue with nil fields"
## Describe the bug
I'm on Jira Cloud trying to create new issues with custom fields. I have the following code, and the custom field is not getting written. Additionally, the createdIssue has a nil value for Fields, even though in the UI, the other specified fields minus the custom fields are getting written.
[code]

## To Reproduce
Adding
[code]
to https://sourcegraph.com/github.com/andygrunwald

[2021-06-12 07:35] andygrunwald commented on #380
Hey @modernplumbing,
thanks for the issue. I am curious, why do you close it already?
Were you able to find a solution? If yes, would you mind sharing it with the community?

[2021-06-15 14:12] romshark opened #381 "Empty issue key causes misleading error"
## Describe the bug

https://github.com/andygrunwald/go-jira/blob/v1.13.0/issue.go#L806 accepts empty issue key which causes the resulting error to be:

[code]

## To Reproduce

1. call [(*IssueService).Update](https://github.com/andygrunwald/go-jira/blob/v1.13.0/issue.go#L840) with an no issue key set.

## Expected behavior

Should return `errors.New("invalid issue key")`

## Possible Solution

V

[2021-06-28 18:53] Ntr0 opened #385 "User.Find impossible to use correctly"
## Describe the bug

I wanted to use an accounts key to find out the account id, by calling `client.User.Find("ntr0")` but I only got this
`error getting user data for account id ntr0: The username query parameter was not provided: request failed. Please analyze the request body for more details. Status code: 400`

## Expected behavior

I get a list of users with matching usernames.

## Possible S

[2021-07-14 02:36] NuLL3rr0r opened #386 "Creating Jira issues with attachments fails"
## Describe the bug

Attachments are not working and result in the following response from Jira:

[code]

## To Reproduce

Example code which fails:

[code]

## Expected behavior

The attachments should work when creating an issue.

## Possible Solution

Not obligatory, but suggest a fix/reason for the bug, or ideas how to implement: the addition or change.

## Your Environment

Include as many re

[2021-07-14 02:38] NuLL3rr0r commented on #386
It would also be nice if there were any attachment examples in the examples dir.

[2021-07-19 00:24] ctreminiom commented on #386
It seems you cannot add attachments while you're creating the issue, the issue must be created before.

- https://community.atlassian.com/t5/Jira-questions/Not-able-to-add-attachments-while-creating-issue-using-Rest-Api/qaq-p/1696978

I've created a little example about how to attach a file on an issue: https://docs.go-atlassian.io/jira-software-cloud/issues/attachments#add-attachment

[2021-07-19 07:15] yarlson commented on #343
@andygrunwald https://github.com/dgrijalva/jwt-go has been abondoned (see https://github.com/dgrijalva/jwt-go/issues/462). In order to fix the vulnarability we have to switch to a community driven fork https://github.com/golang-jwt/jwt . The issue has been fixed in https://github.com/golang-jwt/jwt/pull/12

[2021-07-19 11:20] NuLL3rr0r commented on #386
Thank you very much! Indeed creating issues with attachments in one go won't work. I found [the relevant info](https://community.atlassian.com/t5/Jira-questions/Jira-REST-API-Attach-file-at-the-same-time-as-creating-an-issue/qaq-p/1295704) after creating this issue: "Creating an issue required posting JSON payload. Adding an attachment required posting a MultiPartMime. Both the same time is not po

[2021-07-20 23:53] cfloody commented on #340
Here's a quick workaround that worked for me:

First, figure out the custom field ID for the `Watchers` field
[code]

Then set the values for that custom field in the `Unknowns` map

[code]

[2021-07-20 23:54] cfloody commented on #191
Here's a quick workaround that worked for me:

First, figure out the custom field ID for the `Watchers` field
[code]

Then set the values for that custom field in the `Unknowns` map

[code]

[2021-07-21 10:58] andygrunwald commented on #339
@030 Hey Ben, did this solve your problem? If yes, it would be a good idea to add this to the example directory.

[2021-07-21 10:59] andygrunwald commented on #340
Hey @030, did this solve the initial request?
If yes, please let us know and it can be added to the example directory.

[2021-07-21 15:32] Chhekur opened #388 "Sprint is nil in Issue"
## Describe the bug
Sprint is nil in the returned response for Issue
## To Reproduce

Provide a link to a live example, or an unambiguous set of steps to reproduce this bug. Include configuration, logs, etc. to reproduce, if relevant.

1. Hit any of method to get Issue, Get/Search

## Expected behavior

Sprint should not be nil at least for Issues which are there in active Sprint

[2021-07-22 06:47] andygrunwald commented on #388
@Chhekur Can you provide the information

- if you are on Jira on premise or on Jira cloud
- which jira version
- A example code snippet

Thank you.